flow2/POE ALE.txt
[{"id":"1316b784.f235c8","type":"subflow","name":"Search for Items (2)","info":"","in":[{"x":50,"y":30,"wires":[{"id":"8cdbde50.e40ab"}]}],"out":[{"x":820,"y":280,"wires":[{"id":"1407b9af.17fe96","port":0}]}]},{"id":"8cdbde50.e40ab","type":"DataOut","z":"1316b784.f235c8","collection":"a3c15ad4.0ef818","name":"Get Stolen","path":"/","error":false,"x":190,"y":80,"wires":[["fcad46ee.ac4468"]]},{"id":"fcad46ee.ac4468","type":"function","z":"1316b784.f235c8","name":"","func":"var stolenList = msg.payload || {};\nmsg.stolenList = stolenList;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["def82d5d.3e239"]]},{"id":"def82d5d.3e239","type":"DataOut","z":"1316b784.f235c8","collection":"b0544c04.b25cb","name":"GET Missing","path":"/","error":false,"x":450,"y":140,"wires":[["cb7e044f.82cd58"]]},{"id":"cb7e044f.82cd58","type":"function","z":"1316b784.f235c8","name":"","func":"var missingList = msg.payload || {};\nmsg.missingList = missingList;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["1407b9af.17fe96"]]},{"id":"1407b9af.17fe96","type":"DataOut","z":"1316b784.f235c8","collection":"9d41e1ec.71827","name":"GET Available","path":"/","error":false,"x":660,"y":280,"wires":[[]]},{"id":"b0544c04.b25cb","type":"json-db-collection","z":"","name":"Missing List","folder":"/flows/","collection":"MISSING_LIST","save":true},{"id":"7e1e60a8.cfa54","type":"subflow","name":"get All Items by store (2)","info":"","in":[{"x":320,"y":140,"wires":[{"id":"37d095d2.1abe7a"}]}],"out":[{"x":760,"y":200,"wires":[{"id":"c11f4dc5.cfc16","port":0},{"id":"b116dfc.b28c02","port":0}]}]},{"id":"37d095d2.1abe7a","type":"switch","z":"7e1e60a8.cfa54","name":"","property":"store","propertyType":"msg","rules":[{"t":"eq","v":"0000144","vt":"str"},{"t":"eq","v":"0000117","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":180,"wires":[["c11f4dc5.cfc16"],["b116dfc.b28c02"]]},{"id":"c11f4dc5.cfc16","type":"DataOut","z":"7e1e60a8.cfa54","collection":"","name":"","path":"/","error":false,"x":600,"y":120,"wires":[[]]},{"id":"b116dfc.b28c02","type":"DataOut","z":"7e1e60a8.cfa54","collection":"","name":"","path":"/","error":false,"x":610,"y":240,"wires":[[]]},{"id":"83119892.bca9b8","type":"function","z":"ea323880.964008","name":"Whitelist Look up","func":"var whiteList = msg.payload || {};\nvar epcList = msg.epcList;\nvar stolenList = [];\nvar req=[];\nvar blockSize = 20;\nvar DDDList = {};\nvar greenLigth = [];\nvar redLight = [];\nvar logicalPathCode = global.get('logicalQualifiedCode') || '';\nvar storeConf = global.get(\"storeID\") || global.get(\"StoreConf\") || \"\";\nvar storePath = global.get(\"StorePath\") || \"\";\nvar generateJson = function(thing, logicalReader,direction ){\n    \n    var generatedPathCode = logicalPathCode + \"\";\n    var tempCode = logicalReader.split(\"_\");\n    if(tempCode.length > 1){\n        generatedPathCode = storePath + tempCode[0] + \"/\";\n    }\n    if(!!thing){\n        var updJson = { \n                \"thingTypeCode\" : \"Item\",\n                \"serialNumber\":\"\"+thing,\n                \"timestamp\":(new Date()).getTime(),\n                \"Retail_Disposition\": \"STOLEN\",\n                \"Retail_POE_Event\":(new Date()).getTime(),\n                \"doorEvent\" : generatedPathCode + logicalReader +\":\"+ direction,\n                \"source\": \"FLOW_ALE\"\n        };\n        req.push(updJson);\n        if(req.length >= blockSize){\n            stolenList.push({ payload:req, storeSave : req});\n            req=[];\n        }\n    }\n}\n\n\n//node.warn(whiteList);\n\nfor (var i=0;i<epcList.length; i++){\n    //node.warn(epcList[i].epc);\n    if(!whiteList.hasOwnProperty(epcList[i].epc)){\n        //node.warn(epcList[i]);\n        generateJson(epcList[i].epc, epcList[i].logicalReader,epcList[i].direction);\n        DDDList[epcList[i].logicalReader] = epcList[i].logicalReader;\n        //redLight.push({'payload': epcList[i], redLight: true})\n        redLight.push(epcList[i]);\n        //trigger buzzer\n    } else{\n        //green lantern\n        //node.warn('sending green');\n        //greenLigth.push({'payload': epcList[i], greenLight: true});\n        greenLigth.push(epcList[i]);\n        \n    }\n}\n\nif(req.length > 0){\n    stolenList.push({ payload:req,  storeSave : req});\n    req=[];\n}\nif(stolenList.length === 0){\n   // node.warn('all good, man');\n    msg.success = false;\n    return [null,null, {'payload':greenLigth,greenLight: true},null];\n}\n\nstolenList[stolenList.length -1]['lastMessage'] = true;\n//node.warn(\"POE EVENT \"+new Date());\nmsg.success = true;\n//node.warn(greenLigth);\n//node.warn(redLight);\nnode.warn(DDDList);\nreturn [{'payload':'',list:DDDList},stolenList, {'payload':greenLigth,greenLight: true},{'payload':redLight, redLight: true}];\n","outputs":4,"noerr":0,"x":710,"y":500,"wires":[["38e38b98.c006e4"],["50abdc32.f14064","a6c0e767.0ab618","7e7a65f2.2949cc"],["625df602.218668","a9eb7770.2ae2d8"],["f0c28207.bb4c"]]},{"id":"efe430e.eee63d","type":"http in","z":"ea323880.964008","name":"","url":"/Ale","method":"post","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["8faf1c13.28c97","880d200c.3d6da","d5d9e7a5.21d6a8","767be058.a3f1e"]]},{"id":"880d200c.3d6da","type":"http response","z":"ea323880.964008","name":"","statusCode":"","headers":{},"x":330,"y":340,"wires":[]},{"id":"8faf1c13.28c97","type":"debug","z":"ea323880.964008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":380,"wires":[]},{"id":"d5d9e7a5.21d6a8","type":"file","z":"ea323880.964008","name":"test","filename":"C:\\\\Users\\\\Sabat\\\\Documents\\\\Mojix\\\\Perry Ellis\\\\flow_test.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":330,"y":420,"wires":[]},{"id":"767be058.a3f1e","type":"xml","z":"ea323880.964008","name":"","property":"payload","attr":"","chr":"","x":330,"y":300,"wires":[["e2934882.7faa18"]]},{"id":"e2934882.7faa18","type":"function","z":"ea323880.964008","name":"XML EPC","func":"var xmlMsg = msg.payload || \"\";\nif(!xmlMsg){\n    return null;\n}\nvar lastIndex = '';\nvar epcList = [];\nvar logicalReader = '';\nvar date = '';\nvar isoDate = '';\nvar direction = '';\nvar findMember =  function(arrayObject){\n    var validateprop = [ 'report','group', 'groupList','member','rawHex'];\n    for (var i=0; i < arrayObject.length ; i ++){\n        for (var prop in arrayObject[i]){\n            if(lastIndex ==='member'){\n               if(prop === '$'){\n                   if(arrayObject[i][prop].hasOwnProperty('ale_mojix_ext:logicalReader')){\n                       logicalReader = arrayObject[i][prop]['ale_mojix_ext:logicalReader'];\n                   }\n                   if(arrayObject[i][prop].hasOwnProperty('ale_mojix_ext:direction')){\n                       direction = arrayObject[i][prop]['ale_mojix_ext:direction'];\n                   } else{\n                       direction = \"out\";// harcoded\n                   }\n               } \n            }\n            if (arrayObject[i].hasOwnProperty(prop) && (validateprop.indexOf(prop) != -1)){\n                lastIndex = prop;\n                findMember(arrayObject[i][prop]);\n                if(lastIndex ==='rawHex'){\n                    lastIndex = 'member';\n                    for (var j=0; j<arrayObject[i][prop].length; j++ ){\n                        var epc = (arrayObject[i][prop][j].split('.'))[1].substring(1);\n                        epcList.push({'epc':epc, 'logicalReader': logicalReader, 'timestamp':date, direction: direction, isoDate:isoDate });\n                    }\n                }\n            }\n        }\n    }\n}\n\nif (xmlMsg.hasOwnProperty('ale:ECReports')){\n    if(xmlMsg['ale:ECReports'].hasOwnProperty('$')){\n        var reportDefinition = xmlMsg['ale:ECReports']['$'];\n        //node.warn('reportDefinition');\n        //node.warn(reportDefinition);\n        if(reportDefinition.hasOwnProperty('date')){\n            date = reportDefinition.date;\n            date = (new Date(date)).getTime();\n            isoDate = (new Date(date)).toISOString();\n           // node.warn('report Date '+ date)\n        }else{\n            date = (new Date()).getTime();\n            isoDate = (new Date()).toISOString();\n           // node.warn('report Date '+ date);\n        }\n    }\n    if(xmlMsg['ale:ECReports'].hasOwnProperty('reports')){\n        \n        findMember(xmlMsg['ale:ECReports'].reports);\n       // node.warn('epcs');\n       // node.warn(epcList);\n        msg.epcList = epcList;\n    }\n}\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["7b5aa984.c48b28","f948c58e.bfbd88","27c47dc5.0f2362"]]},{"id":"ab184680.363188","type":"DataOut","z":"ea323880.964008","collection":"76cf5a1c.83d9b4","name":"GET POS-W","path":"/","error":false,"x":530,"y":460,"wires":[["83119892.bca9b8"]]},{"id":"50abdc32.f14064","type":"delay","z":"ea323880.964008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":494,"wires":[["9377eed1.f49ab"]]},{"id":"9377eed1.f49ab","type":"half-bridge","z":"ea323880.964008","name":"","bridgeCode":"ALEB","specName":"POE_IINTERFACE","messageSize":"","longitude":"","latitude":"","altitude":"","declination":"","units":"","x":1190,"y":494,"wires":[["25581bcd.e339a4"]]},{"id":"25581bcd.e339a4","type":"function","z":"ea323880.964008","name":"","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\n//msg.url=  url + \"/riot-core-services/api/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.url=  'hbridge:8080' + \"/http-bridge/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.method = \"PUT\";\nmsg.headers = {\"Content-Type\": \"application/json\", \"Api_key\": apiKey};\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":494,"wires":[["5477e5c0.b098cc","912d2c4e.73d76"]]},{"id":"912d2c4e.73d76","type":"http request","z":"ea323880.964008","name":"","method":"use","ret":"txt","url":"","tls":"","x":1470,"y":460,"wires":[["5477e5c0.b098cc"]]},{"id":"5477e5c0.b098cc","type":"debug","z":"ea323880.964008","name":"VIZIX UPDATE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1660,"y":520,"wires":[]},{"id":"c388d00d.e16da","type":"comment","z":"ea323880.964008","name":"SF - Ligth Buzzer","info":"","x":1320,"y":240,"wires":[]},{"id":"7acdd7da.ea85d8","type":"comment","z":"ea323880.964008","name":"STOLEN - VIZIX","info":"","x":900,"y":660,"wires":[]},{"id":"7b5aa984.c48b28","type":"debug","z":"ea323880.964008","name":"Complete List","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":240,"wires":[]},{"id":"219a9240.fa3efe","type":"link out","z":"ea323880.964008","name":"SF Repo OUT","links":["e4601cec.a08c6"],"x":1035,"y":458,"wires":[]},{"id":"b3b8b1d3.3d964","type":"debug","z":"ea323880.964008","name":"Buzzer Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1240,"y":800,"wires":[]},{"id":"e4601cec.a08c6","type":"link in","z":"ea323880.964008","name":"SF Repo IN","links":["219a9240.fa3efe"],"x":395,"y":760,"wires":[["17db6e80.eff561"]]},{"id":"17db6e80.eff561","type":"function","z":"ea323880.964008","name":"Turn On Alarm","func":"if(!global.get('alarmTrigger')){\n    node.warn('Alarm is off');\n    return null;\n}\n\nnode.warn('ALARM SHOULD TRIGGER');\nvar sfList = msg.payload || [];\nvar triggerList = [];\nnode.warn(sfList);\n//node.warn(triggerList);;\nnode.warn(msg.list)\nfor (var i in sfList){\n    var serial = sfList[i].serial.toUpperCase();\n    //node.warn(serial);\n    //node.warn(msg.list.hasOwnProperty(serial))\n    if(msg.list.hasOwnProperty(serial)){\n        var sf = sfList[i];\n        //node.warn(sf);\n        var executeEvent = {\n            method : \"PUT\",\n            url: \"http://\"+sf.STARflexIP+\":\"+sf.STARflexPort+\"/rfid/gpio\",\n            headers : {\"Content-Type\":\"application/json\"},\n            payload : [],\n            // payload : [{\"ID\":sf.GPIOID,\"value\":sf.RedLightAndBuzzerMask,\"mask\":sf.RedLightAndBuzzerMask}],\n            gpioID : sf.GPIOID,\n            action : 'Turn On Lights'\n        }\n        if(sf.LightEnable === 'true'){\n            node.warn('entre aca light');\n            executeEvent.payload.push({\"ID\":sf.GPIOID,\"value\":sf.LightMaskRed,\"mask\":sf.LightMaskRed})\n        }\n        if(sf.BuzzerEnable === 'true'){\n            node.warn('entre aca buzzer');\n            executeEvent.payload.push({\"ID\":sf.GPIOID,\"value\":sf.BuzzerMask,\"mask\":sf.BuzzerMask})\n        }\n        triggerList.push(executeEvent);\n    }\n\n}\n\nreturn [triggerList];","outputs":1,"noerr":0,"x":520,"y":740,"wires":[["f02b4b59.0591d8","91490ad2.dbeee8"]]},{"id":"4b8ad571.1832ac","type":"http request","z":"ea323880.964008","name":"","method":"use","ret":"txt","url":"","tls":"","x":1030,"y":700,"wires":[["b3b8b1d3.3d964"]]},{"id":"f02b4b59.0591d8","type":"delay","z":"ea323880.964008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":700,"wires":[["4b8ad571.1832ac","4abeb644.1eaae8"]]},{"id":"48a31be6.bd0d24","type":"delay","z":"ea323880.964008","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":800,"wires":[["31305314.3f8f9c"]]},{"id":"31305314.3f8f9c","type":"function","z":"ea323880.964008","name":"Turn Off Alarm","func":"//node.warn(msg.payload);\nfor (var i=0; i < msg.payload.length; i++){\n    //node.warn(i)\n   // node.warn(msg.payload[i]);\n    msg.payload[i].value = \"0x00\";\n}\nmsg.action = \"Turn off Lights\"\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":800,"wires":[["4b8ad571.1832ac"]]},{"id":"ac6ef5ac.4e9438","type":"inject","z":"ea323880.964008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1100,"wires":[["757ba7d0.d52428"]]},{"id":"757ba7d0.d52428","type":"DataOut","z":"ea323880.964008","collection":"9d41e1ec.71827","name":"GET Available","path":"/","error":false,"x":740,"y":1100,"wires":[["67c2bf7e.47406"]]},{"id":"67c2bf7e.47406","type":"function","z":"ea323880.964008","name":"","func":"node.warn(msg.payload['30340541442710C0EE70F03C']);\n//node.warn(msg.payload['3034002E104E20C000009852']);\n//node.warn(msg.payload['AE1000000000000000371839']);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1100,"wires":[["885fdba.accd228"]]},{"id":"3c2d325d.ec1a2e","type":"function","z":"ea323880.964008","name":"Get rid of yellow tags ","func":"var availableList = msg.payload || {};\nvar epcList = msg.epcList;\nvar newEpcList = [];\nvar yellowList = [];\nvar stolenList = msg.stolenList;\nvar missingList = msg.missingList;\nfor (var i=0;i<epcList.length; i++){\n   // node.warn(epcList[i].epc);\n   // node.warn(!availableList.hasOwnProperty(epcList[i].epc));\n    if(!availableList.hasOwnProperty(epcList[i].epc) && !stolenList.hasOwnProperty(epcList[i].epc) && !missingList.hasOwnProperty(epcList[i].epc)){\n        //yellow submarine\n        //node.send({'payload':epcList[i],'yellowDisplay': true});\n        yellowList.push(epcList[i]);\n        //epcList.splice(i, 1);\n    } else if(availableList.hasOwnProperty(epcList[i].epc)) {\n        //node.warn('what a hell');\n        //node.warn(availableList[epcList[i].epc]);\n        //Object.assign(epcList[i], availableList[epcList[i].epc]);\n        availableList[epcList[i].epc]['epc'] = epcList[i].epc;\n        availableList[epcList[i].epc]['direction'] = epcList[i].direction;\n        availableList[epcList[i].epc]['logicalReader'] = epcList[i].logicalReader;\n        newEpcList.push(availableList[epcList[i].epc]);\n    } else if(stolenList.hasOwnProperty(epcList[i].epc)){\n        stolenList[epcList[i].epc]['epc'] = epcList[i].epc;\n        stolenList[epcList[i].epc]['direction'] = epcList[i].direction;\n        stolenList[epcList[i].epc]['logicalReader'] = epcList[i].logicalReader;\n        newEpcList.push(stolenList[epcList[i].epc]);\n    }else if(missingList.hasOwnProperty(epcList[i].epc)){\n        missingList[epcList[i].epc]['epc'] = epcList[i].epc;\n        missingList[epcList[i].epc]['direction'] = epcList[i].direction;\n        missingList[epcList[i].epc]['logicalReader'] = epcList[i].logicalReader;\n        newEpcList.push(missingList[epcList[i].epc]);\n    }\n}\nmsg.yellowDisplay = false;\nmsg.payload = {};\n//node.warn('epcLIST');\n//node.warn(epcList);\nmsg.epcList = newEpcList;\nreturn [{'payload':yellowList,'yellowDisplay': true},msg];","outputs":2,"noerr":0,"x":1000,"y":400,"wires":[["baad2a1.7f3a1d8"],["ab184680.363188"]]},{"id":"baad2a1.7f3a1d8","type":"switch","z":"ea323880.964008","name":"","property":"yellowDisplay","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":360,"wires":[["3dd0523.80939ae","9b483dec.5bd6e"],[]]},{"id":"f3d53f88.b1b42","type":"link out","z":"ea323880.964008","name":"Yellow Out","links":["514250cd.0b591"],"x":1455,"y":353,"wires":[]},{"id":"91490ad2.dbeee8","type":"debug","z":"ea323880.964008","name":"ALARM MSG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":840,"wires":[]},{"id":"625df602.218668","type":"link out","z":"ea323880.964008","name":"Green Out","links":["4f6d19e8.28b6b8"],"x":895,"y":508,"wires":[]},{"id":"f0c28207.bb4c","type":"link out","z":"ea323880.964008","name":"Red Out","links":["2c107709.7e2278"],"x":815,"y":580,"wires":[]},{"id":"3dd0523.80939ae","type":"delay","z":"ea323880.964008","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":353,"wires":[["f3d53f88.b1b42"]]},{"id":"38e38b98.c006e4","type":"DataOut","z":"ea323880.964008","collection":"2e78ea55.0889c6","name":"GET SF List","path":"/","error":false,"x":910,"y":458,"wires":[["219a9240.fa3efe"]]},{"id":"24942640.30d60a","type":"inject","z":"ea323880.964008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1160,"wires":[["eac6c1ed.77fe2"]]},{"id":"eac6c1ed.77fe2","type":"DataOut","z":"ea323880.964008","collection":"2e78ea55.0889c6","name":"GET SF_LIST","path":"/","error":false,"x":740,"y":1160,"wires":[["3e99ffe2.58644"]]},{"id":"3e99ffe2.58644","type":"function","z":"ea323880.964008","name":"","func":"node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1160,"wires":[["885fdba.accd228"]]},{"id":"885fdba.accd228","type":"debug","z":"ea323880.964008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1040,"wires":[]},{"id":"9cc1a556.1eb658","type":"DataOut","z":"ea323880.964008","collection":"76cf5a1c.83d9b4","name":"GET POS-W","path":"/","error":false,"x":730,"y":1040,"wires":[["885fdba.accd228"]]},{"id":"591ec99b.5c9818","type":"inject","z":"ea323880.964008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1040,"wires":[["9cc1a556.1eb658"]]},{"id":"27c47dc5.0f2362","type":"DataOut","z":"ea323880.964008","collection":"722a5be.58574a4","name":"GET BL","path":"/","error":false,"x":660,"y":300,"wires":[["39c5628f.060dfe"]]},{"id":"39c5628f.060dfe","type":"function","z":"ea323880.964008","name":"Remove Black List","func":"var blackList = msg.payload || {};\nvar epcList = msg.epcList;\nvar newEpcList = [];\nvar blackItems = [];\nvar tmpObj = {};\nfor (var i=0;i<epcList.length; i++){\n    //node.warn(epcList[i].epc);\n    //node.warn(blackList.hasOwnProperty(epcList[i].epc));\n    if(blackList.hasOwnProperty(epcList[i].epc)){\n        tmpObj = blackList[epcList[i].epc];\n        tmpObj['epc']= epcList[i].epc;\n        tmpObj['logicalReader']= epcList[i].logicalReader;\n        tmpObj['timestamp']= epcList[i].timestamp;\n        tmpObj['direction']= epcList[i].direction;\n        tmpObj['isoDate']= epcList[i].isoDate;\n        blackItems.push(tmpObj);\n        epcList.splice(i, 1);\n    } \n}\nmsg.payload = {};\n//node.warn('epcLIST');\nnode.warn(\"blackItems\"+blackItems);\nmsg.epcList = epcList;\nreturn [msg, {payload:blackItems, blackList: true}];","outputs":2,"noerr":0,"x":590,"y":360,"wires":[["32261906.f9da66"],["bdcadd91.9a28d"]]},{"id":"a9eb7770.2ae2d8","type":"function","z":"ea323880.964008","name":"[T]","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar logicalPathCode = global.get('logicalQualifiedCode') || '';\nvar storePath = global.get(\"StorePath\") || \"\";\nvar storeConf = global.get(\"storeID\") || global.get(\"StoreConf\") || \"\";\n//msg.url=  url + \"/riot-core-services/api/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.url=  'hbridge:8080' + \"/http-bridge/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.method = \"PUT\";\nmsg.headers = {\"Content-Type\": \"application/json\", \"Api_key\": apiKey};\n\nvar tags = msg.payload;\nvar detectedList = [];\nvar req=[];\nvar blockSize = 20;\nif(!tags){\n    return null;\n}\n\n\nvar generateJson = function(thing){\n    if(!!thing){\n        \n        var generatedPathCode = logicalPathCode + \"\";\n        var tempCode = thing.logicalReader.split(\"_\");\n        if(tempCode.length > 1){\n            generatedPathCode = storePath + tempCode[0] + \"/\";\n        }\n\n        var updJson = { \n                \"thingTypeCode\" : \"Item\",\n                \"serialNumber\":\"\"+thing.epc,\n                \"Retail_POE_Event\": (new Date()).getTime(),\n                \"timestamp\": (new Date()).getTime(),\n                \"source\": \"FLOW_ALE\"\n        };\n        if(!!thing.logicalReader && !!thing.direction){\n            updJson.doorEvent = generatedPathCode + thing.logicalReader +\":\"+ thing.direction;\n        }\n        req.push(updJson);\n        if(req.length >= blockSize){\n            detectedList.push({ payload:req, 'url':msg.url, 'method':msg.method, 'headers':msg.headers});\n            req=[];\n        }\n    }\n}\n\nfor (var i=0; i< tags.length; i++){\n    if(tags[i].hasOwnProperty('epc')){\n        generateJson(tags[i]);            \n    }\n}\n\nif(req.length > 0){\n    detectedList.push({ payload:req, 'url':msg.url, 'method':msg.method, 'headers':msg.headers});\n    req=[];\n}\n//node.warn('detectedList');\n//node.warn(detectedList);\nreturn [detectedList];","outputs":1,"noerr":0,"x":950,"y":580,"wires":[["4f07046c.d7836c"]]},{"id":"d0ff0a81.d1afa8","type":"http request","z":"ea323880.964008","name":"","method":"use","ret":"txt","url":"","tls":"","x":1470,"y":620,"wires":[["5477e5c0.b098cc"]]},{"id":"4f07046c.d7836c","type":"delay","z":"ea323880.964008","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":580,"wires":[["240d3378.c6d7ac"]]},{"id":"240d3378.c6d7ac","type":"half-bridge","z":"ea323880.964008","name":"","bridgeCode":"ALEB","specName":"POE_IINTERFACE","messageSize":"","longitude":"","latitude":"","altitude":"","declination":"","units":"","x":1290,"y":580,"wires":[["5477e5c0.b098cc","d0ff0a81.d1afa8"]]},{"id":"4abeb644.1eaae8","type":"function","z":"ea323880.964008","name":"Alarm Buzzer Time","func":"msg.delay = global.get('BuzzerTime') || 1000;\n//node.warn(msg.delay)\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":740,"wires":[["48a31be6.bd0d24"]]},{"id":"9b483dec.5bd6e","type":"link out","z":"ea323880.964008","name":"UPPOE OUT","links":["b23d82c7.e485e"],"x":1255,"y":420,"wires":[]},{"id":"b23d82c7.e485e","type":"link in","z":"ea323880.964008","name":"UPD POE IN","links":["9b483dec.5bd6e","bdcadd91.9a28d"],"x":875,"y":620,"wires":[["a9eb7770.2ae2d8"]]},{"id":"8c29db4b.2cb808","type":"comment","z":"ea323880.964008","name":"Test DB","info":"","x":730,"y":1000,"wires":[]},{"id":"f948c58e.bfbd88","type":"link out","z":"ea323880.964008","name":"Tag Viewer OUT","links":["36a16625.535c8a"],"x":495,"y":240,"wires":[]},{"id":"bdcadd91.9a28d","type":"link out","z":"ea323880.964008","name":"Black List Out","links":["b23d82c7.e485e","5b60fb43.942e74"],"x":735,"y":400,"wires":[]},{"id":"edec8752.ef8db8","type":"inject","z":"ea323880.964008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["55915c0c.18cc64"]]},{"id":"55915c0c.18cc64","type":"template","z":"ea323880.964008","name":"Multi Members","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ale:ECReports\n    xmlns:ale=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:ns3=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:epcglobal=\"urn:epcglobal:xsd:1\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:ale_mojix_ext=\"urn:mojix:ale:xsd:1\"\nxsi:schemaLocation=\"urn:epcglobal:ale:xsd:1 http://192.168.20.133:8080/services/ALEService/?xsd=EPCglobal-ale-1_1-ale.xsd\"\nale_mojix_ext:longitude=\"-118.443787\" ale_mojix_ext:elevation=\"442.91\" ale_mojix_ext:latitude=\"34.048085\" ale_mojix_ext:declination=\"0\"\nale_mojix_ext:units=\"feet\" date=\"2019-12-24T19:44:47.210-04:00\" specName=\"rtls_template_1\" schemaVersion=\"1.1\"\nterminationTrigger=\"urn:com.mojix.epc.triggers:duration_elapsed:rtls_template_1\" creationDate=\"2019-12-24T19:44:47.210-04:00\"\ntotalMilliseconds=\"997\" terminationCondition=\"TRIGGER\" initiationCondition=\"REQUESTED\" ALEID=\"000C29A3E15E\" >\n    <reports>\n        <report reportName=\"rtls_report_1\" ale_mojix_ext:reportID=\"2007\">\n            <group>\n                <groupList>\n                     <member ale_mojix_ext:ts=\"2019-12-31T19:41:01.024Z\" ale_mojix_ext:logicalReader=\"9999999_POE1\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303403123C445C80EE719CF1</rawHex>\n                    </member>\n                </groupList>\n                <groupCount>\n                    <count>3</count>\n                </groupCount>\n            </group>\n        </report>\n    </reports>\n</ale:ECReports> ","output":"str","x":300,"y":520,"wires":[["767be058.a3f1e"]]},{"id":"62a563b6.4f241c","type":"inject","z":"ea323880.964008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["8d46cd75.588bc"]]},{"id":"8d46cd75.588bc","type":"template","z":"ea323880.964008","name":"Multi Members","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ale:ECReports\n    xmlns:ale=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:ns3=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:epcglobal=\"urn:epcglobal:xsd:1\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:ale_mojix_ext=\"urn:mojix:ale:xsd:1\"\nxsi:schemaLocation=\"urn:epcglobal:ale:xsd:1 http://192.168.20.133:8080/services/ALEService/?xsd=EPCglobal-ale-1_1-ale.xsd\"\nale_mojix_ext:longitude=\"-118.443787\" ale_mojix_ext:elevation=\"442.91\" ale_mojix_ext:latitude=\"34.048085\" ale_mojix_ext:declination=\"0\"\nale_mojix_ext:units=\"feet\" date=\"2018-09-30T18:44:47.210-04:00\" specName=\"rtls_template_1\" schemaVersion=\"1.1\"\nterminationTrigger=\"urn:com.mojix.epc.triggers:duration_elapsed:rtls_template_1\" creationDate=\"2018-09-30T18:44:47.210-04:00\"\ntotalMilliseconds=\"997\" terminationCondition=\"TRIGGER\" initiationCondition=\"REQUESTED\" ALEID=\"000C29A3E15E\" >\n    <reports>\n        <report reportName=\"rtls_report_1\" ale_mojix_ext:reportID=\"2007\">\n            <group>\n                <groupList>\n                     <member ale_mojix_ext:ts=\"2018-06-15T15:41:01.024Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x3034019C501C0E4000076E27</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:41:01.024Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303400F5800044C510107722</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:41:00.926Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"12.45\" ale_mojix_ext:posY=\"-0.01\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:64.x303400F580004A8510107553</rawHex>\n                    </member>\n                   \n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF4001A38510111295</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF4002388510109932</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF4003C50510108457</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF40064A0510101947</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF40064A0510101948</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF40064A0510101950</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-06-15T15:40:59.811Z\" ale_mojix_ext:logicalReader=\"641_POE1\" ale_mojix_ext:posX=\"16.57\" ale_mojix_ext:posY=\"0.04\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303401DF4000008321D00032</rawHex>\n                    </member>\n                </groupList>\n                <groupCount>\n                    <count>3</count>\n                </groupCount>\n            </group>\n        </report>\n    </reports>\n</ale:ECReports> ","output":"str","x":280,"y":580,"wires":[["767be058.a3f1e"]]},{"id":"bef09c9.0db2a6","type":"DataIn","z":"ea323880.964008","collection":"a3c15ad4.0ef818","name":"Save Stolen","update":true,"path":"/","x":1150,"y":540,"wires":[]},{"id":"7e7a65f2.2949cc","type":"function","z":"ea323880.964008","name":"","func":"var stoleList = msg.payload || [];\nvar storeDB = {};\nfor(var i=0;i<stoleList.length;i++){\n    if(stoleList[i].hasOwnProperty(\"serialNumber\")){\n        storeDB[stoleList[i].serialNumber] = {\"Retail_Disposition\":stoleList[i].Retail_Disposition || \"\" }\n    }\n}\nmsg.payload = storeDB;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":540,"wires":[["bef09c9.0db2a6"]]},{"id":"a6c0e767.0ab618","type":"debug","z":"ea323880.964008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":640,"wires":[]},{"id":"17f0a6bf.d00c49","type":"subflow:7e1e60a8.cfa54","z":"ea323880.964008","name":"","x":1060,"y":240,"wires":[[]]},{"id":"32261906.f9da66","type":"subflow:1316b784.f235c8","z":"ea323880.964008","name":"","x":800,"y":350,"wires":[["3c2d325d.ec1a2e"]]},{"id":"76cf5a1c.83d9b4","type":"json-db-collection","z":"","name":"POS Whitelist","folder":"/flows/","collection":"POS_Whitelist","save":true},{"id":"9d41e1ec.71827","type":"json-db-collection","z":"","name":"Available List","folder":"/flows/","collection":"AVAILABLE_LIST","save":true},{"id":"2e78ea55.0889c6","type":"json-db-collection","z":"","name":"Starflex List","folder":"/flows/","collection":"SF_LIST","save":true},{"id":"722a5be.58574a4","type":"json-db-collection","z":"","name":"Black List","folder":"/flows/","collection":"BLACK_LIST","save":true},{"id":"a3c15ad4.0ef818","type":"json-db-collection","z":"","name":"Stolen List","folder":"/flows/","collection":"STOLEN_LIST","save":true}]