flow2/POE CONFIG.txt
[{"id":"6b9f134e.2de05c","type":"subflow","name":"All Items by Store (2)","info":"","in":[{"x":260,"y":120,"wires":[{"id":"221c23f2.f88a4c"}]}],"out":[{"x":740,"y":320,"wires":[]}]},{"id":"6e1c205b.e4ee5","type":"DataIn","z":"6b9f134e.2de05c","collection":"","name":"Available List","update":false,"path":"/","x":750,"y":60,"wires":[]},{"id":"221c23f2.f88a4c","type":"switch","z":"6b9f134e.2de05c","name":"","property":"store","propertyType":"msg","rules":[{"t":"eq","v":"0000144","vt":"str"},{"t":"eq","v":"0000117","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[["6e1c205b.e4ee5"],["99f99fac.597a7"]]},{"id":"99f99fac.597a7","type":"DataIn","z":"6b9f134e.2de05c","collection":"","name":"Available List","update":false,"path":"/","x":750,"y":200,"wires":[]},{"id":"49ee5d74.da3f84","type":"subflow","name":"Get Report Configurations (2)","info":"","in":[{"x":100,"y":220,"wires":[{"id":"26da126.dae26ee"}]}],"out":[]},{"id":"b2c35812.9aafd8","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":180,"wires":[["84d5d0bd.01652","6855f887.75ff18"]]},{"id":"6855f887.75ff18","type":"debug","z":"49ee5d74.da3f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":80,"wires":[]},{"id":"84d5d0bd.01652","type":"function","z":"49ee5d74.da3f84","name":"Save Crons All","func":"var crons = msg.payload.results[0].Retail_PropertyValue || \"\";\nvar serial = msg.payload.results[0].serialNumber || \"\";\nvar reportCode = msg.payload.results[0].Retail_ReportCode || \"\";\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["3c1026c0.d27eaa"]]},{"id":"5940456c.26f61c","type":"function","z":"49ee5d74.da3f84","name":"Save Crons Today","func":"var crons = msg.payload.results[0].Retail_PropertyValue;\nvar serial = msg.payload.results[0].serialNumber;\nvar reportCode = msg.payload.results[0].Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["ac9367a1.ec2d88"]]},{"id":"5f597706.39be98","type":"function","z":"49ee5d74.da3f84","name":"Save Crons SF","func":"var crons = msg.payload.results[0].Retail_PropertyValue;\nvar serial = msg.payload.results[0].serialNumber;\nvar reportCode = msg.payload.results[0].Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["8128357f.2a3308"]]},{"id":"f96a15fe.ecdef8","type":"function","z":"49ee5d74.da3f84","name":"Save Crons BL","func":"var crons = msg.payload.results[0].Retail_PropertyValue;\nvar serial = msg.payload.results[0].serialNumber;\nvar reportCode = msg.payload.results[0].Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["e8a6a726.9c4378"]]},{"id":"c2e52cc9.e954f","type":"function","z":"49ee5d74.da3f84","name":"Save Store BL","func":"var timeZone = msg.payload.results[0].Retail_Config_Timezone;\nvar serial = msg.payload.results[0].serialNumber;\nvar name = msg.payload.results[0].name;\nnode.warn(serial);\nnode.warn(timeZone);\nglobal.set(serial,{timeZone:timeZone, name:name });\nnode.warn(global.get(serial));\nmsg.payload = \"\";\nreturn msg;","outputs":"0","noerr":0,"x":720,"y":460,"wires":[]},{"id":"545e08e0.4dfa28","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":550,"y":220,"wires":[["5940456c.26f61c"]]},{"id":"e4b688e4.3718e8","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":260,"wires":[["5f597706.39be98"]]},{"id":"86fdf72.059e208","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":300,"wires":[["f96a15fe.ecdef8"]]},{"id":"f084282b.7abec8","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":460,"wires":[["c2e52cc9.e954f"]]},{"id":"ac9367a1.ec2d88","type":"function","z":"49ee5d74.da3f84","name":"Get SFREPORT","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FSL_STARFLEXLIST'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url =url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["e4b688e4.3718e8"]]},{"id":"3c1026c0.d27eaa","type":"function","z":"49ee5d74.da3f84","name":"Get ALLITEMSTODAY","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FAIT_ALLITEMSTODAY'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url =url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["545e08e0.4dfa28"]]},{"id":"26da126.dae26ee","type":"function","z":"49ee5d74.da3f84","name":"Get ALLITEMS","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FAI_ALLITEMS'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url = url +\"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["b2c35812.9aafd8","6855f887.75ff18"]]},{"id":"8128357f.2a3308","type":"function","z":"49ee5d74.da3f84","name":"Get BLREPORT","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FBL_BLACKLIST'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url =url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["86fdf72.059e208"]]},{"id":"d56b60ac.87ff8","type":"function","z":"49ee5d74.da3f84","name":"Get STORECONF","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar serial = global.get('StoreConf').storeID || \"\";\nvar where = \"where=serialNumber='\" + serial + \"'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/STORE\";\nvar url = url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["f084282b.7abec8"]]},{"id":"17bc7a88.e64e05","type":"function","z":"49ee5d74.da3f84","name":"Save Crons SL","func":"var crons = msg.payload.results[0].Retail_PropertyValue;\nvar serial = msg.payload.results[0].serialNumber;\nvar reportCode = msg.payload.results[0].Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["6b9cf2bf.a359bc"]]},{"id":"6c58955d.b3839c","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":340,"wires":[["17bc7a88.e64e05"]]},{"id":"e8a6a726.9c4378","type":"function","z":"49ee5d74.da3f84","name":"Get STLREPORT","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FSL_STOLENLIST'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url =url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["6c58955d.b3839c"]]},{"id":"be797075.4f872","type":"function","z":"49ee5d74.da3f84","name":"Save Crons ML","func":"var crons = msg.payload.results[0].Retail_PropertyValue;\nvar serial = msg.payload.results[0].serialNumber;\nvar reportCode = msg.payload.results[0].Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["d56b60ac.87ff8"]]},{"id":"8a62e3b9.efdc7","type":"http request","z":"49ee5d74.da3f84","name":"","method":"use","ret":"obj","url":"","tls":"","x":530,"y":400,"wires":[["be797075.4f872"]]},{"id":"6b9cf2bf.a359bc","type":"function","z":"49ee5d74.da3f84","name":"Get MSLREPORT","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FML_MISSINGLIST'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url =url + \"/riot-core-reports/api/things?\"+where; \nmsg.url = encodeURI(url);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["8a62e3b9.efdc7"]]},{"id":"4843c8c.aa62a38","type":"subflow","name":"Execute Repo (2)","info":"","in":[{"x":160,"y":160,"wires":[{"id":"34e4a3ab.009fec"}]}],"out":[{"x":640,"y":160,"wires":[{"id":"3abcbacc.4ecc16","port":0}]}]},{"id":"34e4a3ab.009fec","type":"function","z":"4843c8c.aa62a38","name":"","func":"if(!msg.payload){\n    return null;\n}\nvar reportCode = msg.payload.reportId;\nvar hierarchyGroupCode = msg.payload.hierarchyGroupCode;\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nmsg.method = 'POST';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar url =url + \"/riot-core-reports/api/reportExecution/\"+reportCode + '?pageNumber=1&pageSize=-1&reportHierarchyGroupCode='+hierarchyGroupCode; \n//var url =url + \"/riot-core-services/api/reportExecution/3519\"+ '?pageNumber=1&pageSize=-1'; \nmsg.url = encodeURI(url);\nmsg.payload = msg.payload.reportBody;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["3abcbacc.4ecc16","f3ffdffb.5b839"]]},{"id":"3abcbacc.4ecc16","type":"http request","z":"4843c8c.aa62a38","name":"","method":"use","ret":"txt","url":"","tls":"","x":470,"y":160,"wires":[[]]},{"id":"f3ffdffb.5b839","type":"debug","z":"4843c8c.aa62a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":80,"wires":[]},{"id":"cd786ab5.8696c8","type":"subflow","name":"Vizix Event (3)","info":"","in":[{"x":140,"y":126,"wires":[{"id":"6a2e3acc.7c6754"}]}],"out":[]},{"id":"bcfd94eb.c02ce8","type":"vizixgetthing","z":"cd786ab5.8696c8","name":"Get Vizix Event","vizix_thingId":"","vizix_where":"","vizix_debug":false,"vizix_encode":true,"vizix_server":"992288f7.c415b8","x":420,"y":180,"wires":[["e691e553.4081e8"]]},{"id":"e691e553.4081e8","type":"function","z":"cd786ab5.8696c8","name":"","func":"if(!msg.payload || !msg.payload.thingData || !msg.event){\n    return null;\n}\nvar eventUpdate = msg.event || '';\nvar event = msg.payload.thingData;\nvar eventThing = [];\nvar eventID = (parseInt(event.Event_ID) || 0) + 1;\nvar updJson = { \n                \"thingTypeCode\" : \"\"+event.thingTypeCode,\n                \"serialNumber\":\"\"+event.serialNumber,\n                \"group\": \"\"+event.hierarchyName,\n                \"udfs\": {}\n                //\"udfs\": {'eventId':{value:\"\"+ eventID}}\n        };\n        for (var prop in eventUpdate){\n            if(eventUpdate.hasOwnProperty(prop)){\n                updJson.udfs[prop] = {value:eventUpdate[prop]};\n            }\n        }\neventThing.push(updJson);\nmsg.payload = eventThing;\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":256,"wires":[["fb591142.6f42d"]]},{"id":"fb591142.6f42d","type":"vizixupdatething","z":"cd786ab5.8696c8","name":"","vizix_thingId":"","vizix_fieldId":"","vizix_groupPath":"","vizix_thingType":"","vizix_debug":"","vizix_server":"992288f7.c415b8","x":675,"y":188,"wires":[["1c9b2e03.8b0e62"]]},{"id":"1c9b2e03.8b0e62","type":"debug","z":"cd786ab5.8696c8","name":"Vizix Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":60,"wires":[]},{"id":"134659e9.f4e436","type":"function","z":"cd786ab5.8696c8","name":"","func":"var hierarchyCode = global.get('ViZixEventHierarchyCode') || '';\nvar eventSerial = global.get('ViZixEvent') || '';\nmsg.payload = {\"where\": \"thingTypeCode=vizixEvent&hierarchyCode='\"+ hierarchyCode+\"'&serialNumber='\" + eventSerial + \"'\"};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["bcfd94eb.c02ce8"]]},{"id":"6a2e3acc.7c6754","type":"function","z":"cd786ab5.8696c8","name":"","func":"var hierarchyCode = global.get('ViZixEventHierarchyCode') || '';\n// var eventSerial = global.get('ViZixEvent') || '';\n// msg.payload = {\"where\": \"thingTypeCode=vizixEvent&hierarchyCode='\"+ hierarchyCode+\"'&serialNumber='\" + eventSerial + \"'\"};\n// return msg;\nvar eventCode = msg.eventCode || '';\nvar apiKey = global.get('ApiKey') || '';\nvar hierarchyCode = global.get('ViZixEventHierarchyCode') || '';\nvar eventUpdate = msg.event || '';\nvar url = global.get('vizixUrl') || '';\nmsg.method = \"PUT\";\nmsg.url = url + \"/riot-core-services/api/platform/events/FLOW/\" + eventCode + \"/Success\";\nmsg.headers = {\"ApiKey\":apiKey,\"Keep-Alive\": timeout=240};\nvar timezone = global.get(msg.storeId+\"TimeZone\");\n\nmsg.payload = {\n    \"Event_HierarchyGroup\": hierarchyCode,\n}\nfor (var prop in eventUpdate){\n    if(eventUpdate.hasOwnProperty(prop)){\n        msg.payload[prop] = eventUpdate[prop];\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":134,"wires":[["585f2443.16986c"]]},{"id":"585f2443.16986c","type":"http request","z":"cd786ab5.8696c8","name":"","method":"use","ret":"txt","url":"","tls":"","x":490,"y":134,"wires":[["1c9b2e03.8b0e62"]]},{"id":"c454bbec.8723d8","type":"config","z":"cbb860cf.4b942","name":"","properties":[{"p":"thingType","pt":"global","to":"/PERN/ITEM","tot":"str"},{"p":"bridgeCode","pt":"global","to":"/PERN/ALEB","tot":"str"},{"p":"logicalQualifiedCode","pt":"global","to":"/PERN/","tot":"str"},{"p":"ALLITEMSREPOCODE","pt":"global","to":"F_ACTIVELIST","tot":"str"},{"p":"TODAYITEMSREPOCODE","pt":"global","to":"F_ACTIVELISTTODAY","tot":"str"},{"p":"BLACKLISTREPOCODE","pt":"global","to":"F_BLACKLISTITEMS","tot":"str"},{"p":"LIGHTBUZZERREPOCODE","pt":"global","to":"F_LIGHTBUZZERCONFIG","tot":"str"},{"p":"hierarchyGroup","pt":"global","to":"/PERN","tot":"str"},{"p":"ApiKey","pt":"global","to":"WRNXEIDYAEDQMKWQ","tot":"str"},{"p":"StoreID","pt":"global","to":"9999999","tot":"str"},{"p":"ViZixEvent","pt":"global","to":"VIZIXEVENTS_PERN","tot":"str"},{"p":"StoreName","pt":"global","to":"Mojix","tot":"str"},{"p":"ViZixEventHierarchyCode","pt":"global","to":">PERN","tot":"str"},{"p":"remoteSource","pt":"global","to":"http://192.168.1.21:1880","tot":"str"},{"p":"BuzzerTime","pt":"global","to":"1000","tot":"num"},{"p":"vizixUrl","pt":"global","to":"http://reports:8080","tot":"str"},{"p":"StoreConf","pt":"global","to":"{\"storeID\":\"9999999\",\"timeZone\":\"GMT-3\",\"name\":\"Mojix\"}","tot":"json"},{"p":"StorePath","pt":"global","to":"/PERN/","tot":"str"},{"p":"STOLENLISTREPOCODE","pt":"global","to":"F_STOLENLIST","tot":"str"},{"p":"StoreList","pt":"global","to":"[\"9999999\"]","tot":"json"},{"p":"MISSINGLISTREPOCODE","pt":"global","to":"F_MISSINGLIST","tot":"str"},{"p":"","pt":"flow","to":"","tot":"str"}],"active":true,"x":710,"y":180,"wires":[]},{"id":"761767d4.c35528","type":"function","z":"cbb860cf.4b942","name":"Save Crons All","func":"var crons = msg.payload.thingData.Retail_PropertyValue;\nvar serial = msg.payload.thingData.serialNumber;\nvar reportCode = msg.payload.thingData.Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\n","outputs":"0","noerr":0,"x":560,"y":360,"wires":[]},{"id":"c96862f6.8e678","type":"function","z":"cbb860cf.4b942","name":"Save Crons Today","func":"var crons = msg.payload.thingData.Retail_PropertyValue;\nvar serial = msg.payload.thingData.serialNumber;\nvar reportCode = msg.payload.thingData.Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });","outputs":"0","noerr":0,"x":604.5,"y":398,"wires":[]},{"id":"eaaaacab.c1415","type":"function","z":"cbb860cf.4b942","name":"Save Crons SF","func":"var crons = msg.payload.thingData.Retail_PropertyValue;\nvar serial = msg.payload.thingData.serialNumber;\nvar reportCode = msg.payload.thingData.Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\n","outputs":"0","noerr":0,"x":554.5,"y":441,"wires":[]},{"id":"1665fa6c.37e5d6","type":"function","z":"cbb860cf.4b942","name":"Save Crons BL","func":"var crons = msg.payload.thingData.Retail_PropertyValue;\nvar serial = msg.payload.thingData.serialNumber;\nvar reportCode = msg.payload.thingData.Retail_ReportCode;\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });","outputs":"0","noerr":0,"x":556.5,"y":487,"wires":[]},{"id":"a2bc2cbd.434c","type":"inject","z":"cbb860cf.4b942","name":"RefreshConf","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":400,"wires":[[]]},{"id":"b76b8c07.ac959","type":"vizixgetthing","z":"cbb860cf.4b942","name":"Get ALLITEMS","vizix_thingId":"","vizix_where":"thingTypeCode=RETAILCONFIGURATION&hierarchyCode='>PE'&serialNumber='FAI_ALLITEMS'","vizix_debug":false,"vizix_encode":true,"vizix_server":"992288f7.c415b8","x":331.5,"y":360,"wires":[["761767d4.c35528"]]},{"id":"1f884015.a04c9","type":"vizixgetthing","z":"cbb860cf.4b942","name":"Get ALLITEMSTODAY","vizix_thingId":"","vizix_where":"thingTypeCode=RETAILCONFIGURATION&hierarchyCode='>PE'&serialNumber='FAIT_ALLITEMSTODAY'","vizix_debug":"","vizix_encode":true,"vizix_server":"992288f7.c415b8","x":352.5,"y":398,"wires":[["c96862f6.8e678"]]},{"id":"5b27e3e8.2dcf1c","type":"comment","z":"cbb860cf.4b942","name":"Get Cron Configuration If deploy","info":"Using MQTT that will update the Crons after an \nupdate is performed in ViZix of the configuration \nthing\n\nIf Flow is restarted it will pull the configuration \nautomatically and updated after get it.","x":184.5,"y":320,"wires":[]},{"id":"11afc0aa.eed26f","type":"vizixgetthing","z":"cbb860cf.4b942","name":"Get SFREPORT","vizix_thingId":"","vizix_where":"thingTypeCode=RETAILCONFIGURATION&hierarchyCode='>PE'&serialNumber='FSL_STARFLEXLIST'","vizix_debug":false,"vizix_encode":true,"vizix_server":"992288f7.c415b8","x":331.5,"y":440,"wires":[["eaaaacab.c1415"]]},{"id":"b7e9c7fb.0b9a18","type":"inject","z":"cbb860cf.4b942","name":"Midnight White List Clean","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":600,"wires":[["4306fbcb.3e5824"]]},{"id":"4306fbcb.3e5824","type":"DataIn","z":"cbb860cf.4b942","collection":"76cf5a1c.83d9b4","name":"Delete","update":false,"path":"/","x":444.5,"y":607,"wires":[]},{"id":"b606e286.1d42c","type":"inject","z":"cbb860cf.4b942","name":"All Available List Clean","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":640,"wires":[["d3570c4c.db884"]]},{"id":"d3570c4c.db884","type":"DataIn","z":"cbb860cf.4b942","collection":"9d41e1ec.71827","name":"Delete","update":false,"path":"/","x":450,"y":640,"wires":[]},{"id":"9da823f2.56572","type":"inject","z":"cbb860cf.4b942","name":"StarFlex List Clean","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":204.5,"y":767,"wires":[["b02e65fd.f2abc8"]]},{"id":"b02e65fd.f2abc8","type":"DataIn","z":"cbb860cf.4b942","collection":"2e78ea55.0889c6","name":"Delete","update":false,"path":"/","x":444.5,"y":767,"wires":[]},{"id":"33eeb63d.9ddefa","type":"inject","z":"cbb860cf.4b942","name":"Black List Clean","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":194.5,"y":827,"wires":[["ad01845d.d52b58"]]},{"id":"ad01845d.d52b58","type":"DataIn","z":"cbb860cf.4b942","collection":"722a5be.58574a4","name":"Delete","update":false,"path":"/","x":444.5,"y":827,"wires":[]},{"id":"a7b27273.126c2","type":"vizixgetthing","z":"cbb860cf.4b942","name":"Get BLREPORT","vizix_thingId":"","vizix_where":"thingTypeCode=RETAILCONFIGURATION&hierarchyCode='>PE'&serialNumber='FBL_BLACKLIST'","vizix_debug":"","vizix_encode":true,"vizix_server":"992288f7.c415b8","x":334.5,"y":487,"wires":[["1665fa6c.37e5d6"]]},{"id":"f804b3e5.767cc","type":"vizixreportexecution","z":"cbb860cf.4b942","name":"All Available","vizix_reportId":"F_ACTIVELIST","vizix_hierarchyGroupCode":"/PE","vizix_reportBody":"","vizix_reportType":"table","vizix_reportPageNumber":"1","vizix_reportSize":"-1","vizix_reportExport":"","vizix_relativeDate":"","vizix_startDate":"","vizix_endDate":"","vizix_debug":false,"vizix_compress":"","vizix_server":"992288f7.c415b8","x":1290,"y":540,"wires":[["f64a6b54.02bfd8"]]},{"id":"f64a6b54.02bfd8","type":"function","z":"cbb860cf.4b942","name":"EPC Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items){\n    msg.payload = {};\n    return msg;\n}\nitems = JSON.parse(items);\n//node.warn(msg.store);\nvar epcList = {};\nvar storeNum = global.get('StoreID') || '';\nvar storeName = global.get('StoreName') || '';\nvar tenant = global.get('hierarchyGroup') || '';\nvar remoteSource = global.get('remoteSource') || ''\ntenant = tenant.replace('/','');\nif(items.hasOwnProperty('results')){\n    var itemTotal = items.results.length;\n    node.warn(\"itemTotal \" + itemTotal );\n    for (var i=0; i < items.results.length; i++){\n        var epcData = items.results[i]; \n        if(!!epcData.EPC){\n            delete epcData['thing.headers'];\n            epcList[epcData.EPC] = epcData;\n            \n        }\n        \n    } \n}\nmsg.payload = epcList;\n\nvar vizixEvent = {\n                //'Event_Category':'Available List',\n                //'Event_SubCategory':'FLOW Stats',\n                //'Event_Activity':'Stats',\n                //'Event_Status':'SUCCESS',\n                'Event_Action': 'All active List',\n                //'Event_Source': 'FLOW',\n                //'Event_Level': 'INFO',\n                'Event_Count':itemTotal,\n                'Event_GroupCode': storeNum,\n                //'Event_User': 'root',\n                'Event_Detail':{\n                    'storeNumber': storeNum,\n                    'store': storeName,\n                    'AvailableCount':itemTotal,\n                    'tenant' : tenant,\n\t\t            'thingType': 'Item',\n\t\t            'remoteSource':remoteSource\n                }\n    }\nmsg.event = vizixEvent;\nnode.warn('Saving Available List');\nreturn [{payload: '', event: msg.event, 'eventCode': '605001'},msg];","outputs":2,"noerr":0,"x":1470,"y":540,"wires":[["e4faa415.9d26e8"],["fbdbcddc.97d54"]]},{"id":"2d90fc48.8eb6d4","type":"comment","z":"cbb860cf.4b942","name":"Do not Debug","info":"","x":1650,"y":560,"wires":[]},{"id":"4848ff27.dbc2a","type":"comment","z":"cbb860cf.4b942","name":"Do not Debug","info":"","x":1670,"y":680,"wires":[]},{"id":"95e3efe0.e1d9","type":"vizixreportexecution","z":"cbb860cf.4b942","name":"All Available Today","vizix_reportId":"F_ACTIVELISTTODAY","vizix_hierarchyGroupCode":"/PE","vizix_reportBody":"","vizix_reportType":"table","vizix_reportPageNumber":"1","vizix_reportSize":"-1","vizix_reportExport":"","vizix_relativeDate":"","vizix_startDate":"","vizix_endDate":"","vizix_debug":false,"vizix_compress":"","vizix_server":"992288f7.c415b8","x":1310,"y":680,"wires":[["1f225585.f3350a"]]},{"id":"1f225585.f3350a","type":"function","z":"cbb860cf.4b942","name":"EPC Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items){\n    msg.payload = {};\n    return msg;\n}\nitems = JSON.parse(items);\nvar epcList = {};\nif(items.hasOwnProperty('results')){\n    for (var i=0; i < items.results.length; i++){\n        var epcData = items.results[i]; \n        if(!!epcData.EPC){\n            delete epcData['thing.headers'];\n            epcList[epcData.EPC] = epcData;\n            \n        }\n        \n    } \n}\nmsg.payload = epcList;\nnode.warn('Saving New Availables ');\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":680,"wires":[["ee439bc9.f38de8"]]},{"id":"ffd7c0ea.2ca81","type":"comment","z":"cbb860cf.4b942","name":"Cron Jobs","info":"","x":600,"y":260,"wires":[]},{"id":"111e43e4.c62f4c","type":"vizixreportexecution","z":"cbb860cf.4b942","name":"SF Report","vizix_reportId":"F_LIGHTBUZZERCONFIG","vizix_hierarchyGroupCode":"/PE","vizix_reportBody":"","vizix_reportType":"table","vizix_reportPageNumber":"1","vizix_reportSize":"-1","vizix_reportExport":"","vizix_relativeDate":"","vizix_startDate":"","vizix_endDate":"","vizix_debug":false,"vizix_compress":"","vizix_server":"992288f7.c415b8","x":1300,"y":360,"wires":[["5c4d7f65.acc89"]]},{"id":"5c4d7f65.acc89","type":"function","z":"cbb860cf.4b942","name":"SF Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items ){\n    msg.payload = {};\n    return msg;\n}\n\nitems = JSON.parse(items);\nvar sfList = {};\nif(items.hasOwnProperty('results')){\n    for (var i=0; i < items.results.length; i++){\n        var sfData = items.results[i]; \n        if(!!sfData.serial){\n            delete sfData['thing.headers'];\n            sfList[sfData.serial] = sfData;\n            \n        }\n        \n    } \n}\nmsg.payload = sfList;\nnode.warn('Saving StarFlex List ');\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":360,"wires":[["f168bbb0.112d48","2c4ac15.63c793e"]]},{"id":"4df05601.f8a818","type":"inject","z":"cbb860cf.4b942","name":"All Available","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":800,"y":520,"wires":[["bb58635.0599aa"]]},{"id":"bb58635.0599aa","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FAI_ALLITEMS\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n    var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n   //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n    // node.warn('localTime ' + localTime);\n     //node.warn('confTime '+ confTime);\n    // node.warn(localTime === confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":520,"wires":[["2c872859.dc1a78"]]},{"id":"d598ad27.e523b","type":"comment","z":"cbb860cf.4b942","name":"Executing Jobs using Cron","info":"Every minute the configuration stored inside \nflow's global variable will be compared with\nthe current time. if its equal the process \nwill be executed.","x":850,"y":240,"wires":[]},{"id":"ce3ce420.550338","type":"inject","z":"cbb860cf.4b942","name":"Available today","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":800,"y":680,"wires":[["fd705fcd.aac5f"]]},{"id":"fd705fcd.aac5f","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FAIT_ALLITEMSTODAY\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n    var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n     //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n    // node.warn('localTime ' + localTime);\n    // node.warn('confTime '+ confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":680,"wires":[["bc7512c3.b19e2"]]},{"id":"f8f64f97.7ce57","type":"inject","z":"cbb860cf.4b942","name":"Buzzer","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":800,"y":360,"wires":[["3617c467.ed95bc"]]},{"id":"3617c467.ed95bc","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FSL_STARFLEXLIST\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n    var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n    //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n     //node.warn('localTime ' + localTime);\n     //node.warn('confTime '+ confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["f1455def.11913"]]},{"id":"fb258c6b.8d9c3","type":"inject","z":"cbb860cf.4b942","name":"Update Buzzer","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":280,"wires":[["f1455def.11913"]]},{"id":"23a883de.11b25c","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":440,"wires":[["2c872859.dc1a78"]]},{"id":"cd93402a.6eb46","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":600,"wires":[["bc7512c3.b19e2"]]},{"id":"e4faa415.9d26e8","type":"subflow:cd786ab5.8696c8","z":"cbb860cf.4b942","name":"","x":1690,"y":500,"wires":[]},{"id":"f168bbb0.112d48","type":"DataIn","z":"cbb860cf.4b942","collection":"2e78ea55.0889c6","name":"StarFlex List","update":false,"path":"/","x":1630,"y":400,"wires":[]},{"id":"fbdbcddc.97d54","type":"DataIn","z":"cbb860cf.4b942","collection":"9d41e1ec.71827","name":"Available List","update":false,"path":"/","x":1630,"y":600,"wires":[]},{"id":"ee439bc9.f38de8","type":"DataIn","z":"cbb860cf.4b942","collection":"9d41e1ec.71827","name":"Available List ","update":true,"path":"/","x":1610,"y":760,"wires":[]},{"id":"45a0d139.eb5ab","type":"vizixreportexecution","z":"cbb860cf.4b942","name":"Backlist","vizix_reportId":"F_BLACKLISTITEMS","vizix_hierarchyGroupCode":"/PE","vizix_reportBody":"","vizix_reportType":"table","vizix_reportPageNumber":"1","vizix_reportSize":"-1","vizix_reportExport":"","vizix_relativeDate":"","vizix_startDate":"","vizix_endDate":"","vizix_debug":false,"vizix_compress":"","vizix_server":"992288f7.c415b8","x":1280,"y":860,"wires":[["a70b9591.332a58"]]},{"id":"a70b9591.332a58","type":"function","z":"cbb860cf.4b942","name":"EPC Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items){\n    msg.payload = {};\n    return msg;\n}\nitems = JSON.parse(items);\nvar epcList = {};\nif(items.hasOwnProperty('results')){\n    for (var i=0; i < items.results.length; i++){\n        var epcData = items.results[i]; \n        if(!!epcData.EPC){\n            delete epcData['thing.headers'];\n            epcList[epcData.EPC] = epcData;\n            \n        }\n        \n    } \n}\nmsg.payload = epcList;\nnode.warn('Saving Black List');\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":860,"wires":[["59d5b309.35653c"]]},{"id":"7a99d530.eb27ec","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":780,"wires":[["f430fac9.90df08"]]},{"id":"59d5b309.35653c","type":"DataIn","z":"cbb860cf.4b942","collection":"722a5be.58574a4","name":"Black List","update":false,"path":"/","x":1600,"y":920,"wires":[]},{"id":"e379e5b.e99c018","type":"debug","z":"cbb860cf.4b942","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":820,"wires":[]},{"id":"aa14a9fc.434a08","type":"inject","z":"cbb860cf.4b942","name":"Black List","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":810,"y":860,"wires":[["f78210a7.4b686"]]},{"id":"f78210a7.4b686","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FBL_BLACKLIST\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n     var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n    //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n    // node.warn('localTime ' + localTime);\n    // node.warn('confTime '+ confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":860,"wires":[["f430fac9.90df08"]]},{"id":"f1462559.b01fb8","type":"comment","z":"cbb860cf.4b942","name":"GLOBAL Configurations","info":"","x":720,"y":120,"wires":[]},{"id":"f1455def.11913","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FSL_STARFLEXLIST\")['reportCode'] || global.get('LIGHTBUZZERREPOCODE') || '' ;\nnode.warn(global.get(\"FSL_STARFLEXLIST\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":\"\"\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["dd8b9606.c63f88"]]},{"id":"2c872859.dc1a78","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FAI_ALLITEMS\")['reportCode'] || global.get('ALLITEMSREPOCODE') || '' ;\nnode.warn(global.get(\"FAI_ALLITEMS\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":store\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;\n\n//var storeList = global.get(\"StoreList\");\n// var queryList = [];\n// for (var i = 0; i < storeList.length; i++){\n//     var payload = {\n//                 reportId: reportCode,\n//                 reportType: \"table\",\n//                 reportBody: {\n//                     \"StoreID\":storeList[i]\n//                 },\n//                 hierarchyGroupCode: hierarchyGroup\n//         }\n//     queryList.push({\"payload\":payload, \"store\": storeList[i] })    \n// }\n\n\n//return [queryList];","outputs":1,"noerr":0,"x":1130,"y":480,"wires":[["f17d5788.17e418"]]},{"id":"bc7512c3.b19e2","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FAIT_ALLITEMSTODAY\")['reportCode'] || global.get('TODAYITEMSREPOCODE') || '' ;\nnode.warn(global.get(\"FAIT_ALLITEMSTODAY\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":store\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":640,"wires":[["1613da76.b40796"]]},{"id":"f430fac9.90df08","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FBL_BLACKLIST\")['reportCode'] || global.get('TODAYITEMSREPOCODE') || '' ;\nnode.warn(global.get(\"FBL_BLACKLIST\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":store\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":820,"wires":[["122bcf.f998d431"]]},{"id":"833c1797.707ae8","type":"function","z":"cbb860cf.4b942","name":"","func":"var sfList = msg.payload || [];\nvar request = {};\nfor (var sf in sfList){\n    request = {\n            method: \"PUT\",\n            url: \"http://\"+sfList[sf].STARflexIP+\":\"+sfList[sf].STARflexPort+\"/rfid/gpio\",\n            headers : {\"Content-Type\":\"application/json\"},\n            payload : [{\"ID\":sfList[sf].GPIOID,\"value\":\"0x00\",\"mask\":sfList[sf].BuzzerMask},\n            {\"ID\":sfList[sf].GPIOID,\"value\":\"0x00\",\"mask\":sfList[sf].LightMaskRed}],\n            gpioID : sfList[sf].GPIOID,\n            action : 'Turn Off Lights'\n    }\n    node.send(request)\n}\n \nreturn null;","outputs":1,"noerr":0,"x":1550,"y":220,"wires":[["2c4ac15.63c793e","8bcbf9fa.029208"]]},{"id":"8bcbf9fa.029208","type":"http request","z":"cbb860cf.4b942","name":"","method":"use","ret":"txt","url":"","tls":"","x":1630,"y":280,"wires":[["2c4ac15.63c793e"]]},{"id":"2c4ac15.63c793e","type":"debug","z":"cbb860cf.4b942","name":"Buzzer Trigger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1760,"y":220,"wires":[]},{"id":"3628777f.18a3a8","type":"inject","z":"cbb860cf.4b942","name":"Turn Off Buzzer","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":220,"wires":[[]]},{"id":"e8f26bb8.5462e8","type":"DataOut","z":"cbb860cf.4b942","collection":"2e78ea55.0889c6","name":"StarFlex","path":"/","error":false,"x":1390,"y":220,"wires":[["833c1797.707ae8"]]},{"id":"dd8b9606.c63f88","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1300,"y":300,"wires":[["5c4d7f65.acc89"]]},{"id":"f17d5788.17e418","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1440,"y":460,"wires":[["f64a6b54.02bfd8"]]},{"id":"1613da76.b40796","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1300,"y":620,"wires":[["1f225585.f3350a"]]},{"id":"122bcf.f998d431","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1300,"y":780,"wires":[["e379e5b.e99c018","a70b9591.332a58"]]},{"id":"908d090d.895a58","type":"inject","z":"cbb860cf.4b942","name":"RefreshConf","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"0 7-19 * * *","once":true,"onceDelay":"3","x":140,"y":180,"wires":[["4137c7a4.102248"]]},{"id":"4137c7a4.102248","type":"subflow:49ee5d74.da3f84","z":"cbb860cf.4b942","name":"","x":410,"y":180,"wires":[]},{"id":"ae1158ff.a9ebd8","type":"comment","z":"cbb860cf.4b942","name":"Update Black List HERE","info":"","x":750,"y":820,"wires":[]},{"id":"47ebe952.521778","type":"http request","z":"cbb860cf.4b942","name":"","method":"use","ret":"obj","url":"","tls":"","x":430,"y":220,"wires":[["3cb97d5.5ed9882","2244d260.f82e0e"]]},{"id":"3cb97d5.5ed9882","type":"function","z":"cbb860cf.4b942","name":"Save Crons All","func":"var crons = msg.payload.results[0].Retail_PropertyValue || \"\";\nvar serial = msg.payload.results[0].serialNumber || \"\";\nvar reportCode = msg.payload.results[0].Retail_ReportCode || \"\";\nnode.warn(serial);\nnode.warn(crons);\nglobal.set(serial,{crons:crons, reportCode:reportCode });\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"46d89806.aab088","type":"function","z":"cbb860cf.4b942","name":"Get ALLITEMS","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar url = global.get('vizixUrl') || '';\nvar hierarchy = global.get('hierarchyGroup') || '';\nmsg.method = 'GET';\nmsg.headers = {\"Content-Type\": \"application/json\", \"apiKey\": apiKey};\nvar where = \"where=serialNumber='FAI_ALLITEMS'&fullyQualifiedThingTypeCode=\" + hierarchy + \"/RETAILCONFIGURATION\";\nvar url = url +\"/riot-core-services/api/things?\"+where; \nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["47ebe952.521778","2244d260.f82e0e"]]},{"id":"54917a23.b01d54","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["46d89806.aab088"]]},{"id":"2244d260.f82e0e","type":"debug","z":"cbb860cf.4b942","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":300,"wires":[]},{"id":"e67cef21.6c7b1","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["49a15293.8a75dc"]]},{"id":"a0c41eca.57bf3","type":"http request","z":"cbb860cf.4b942","name":"","method":"use","ret":"txt","url":"","tls":"","x":450,"y":100,"wires":[["2244d260.f82e0e"]]},{"id":"ac920bd4.a92088","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":960,"wires":[["fd074de2.a5b6a"]]},{"id":"fd074de2.a5b6a","type":"function","z":"cbb860cf.4b942","name":"test globals","func":"node.warn(global.get(\"StoreConf\"));\nnode.warn(global.get(\"FAI_ALLITEMS\"));\nnode.warn(global.get(\"FAIT_ALLITEMSTODAY\"));\nnode.warn(global.get(\"FSL_STARFLEXLIST\"));\nnode.warn(global.get(\"FBL_BLACKLIST\"));\nreturn msg;","outputs":0,"noerr":0,"x":550,"y":960,"wires":[]},{"id":"49b999c3.9ea718","type":"link in","z":"cbb860cf.4b942","name":"Black List updater in","links":["5e4ac6e5.96f4b8"],"x":989,"y":820,"wires":[["f430fac9.90df08"]]},{"id":"db74224.7b143e","type":"link in","z":"cbb860cf.4b942","name":"Cron Jobs updater in","links":["676c2e65.d8d97"],"x":255,"y":140,"wires":[["4137c7a4.102248"]]},{"id":"f6077d64.1d018","type":"link in","z":"cbb860cf.4b942","name":"LightBuzzer updater in","links":["33570e15.b09d22"],"x":984,"y":320,"wires":[["f1455def.11913"]]},{"id":"9a2564c3.902758","type":"link in","z":"cbb860cf.4b942","name":"Sellable List updater in","links":["fc596b50.c868f8"],"x":986,"y":480,"wires":[["2c872859.dc1a78"]]},{"id":"8c8005c1.b7d498","type":"link in","z":"cbb860cf.4b942","name":"Sellable List Today updater in","links":["15f80bb6.d61a84"],"x":985,"y":640,"wires":[["bc7512c3.b19e2"]]},{"id":"1451fa06.d4cee6","type":"link in","z":"cbb860cf.4b942","name":"Turn Off Alarm in","links":["9cabec4a.c1668"],"x":1455,"y":160,"wires":[["833c1797.707ae8"]]},{"id":"d3dc5c96.48021","type":"inject","z":"cbb860cf.4b942","name":"Stolen List","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":810,"y":1060,"wires":[["264069c4.7518d6"]]},{"id":"264069c4.7518d6","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FBL_BLACKLIST\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n     var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n    //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n    // node.warn('localTime ' + localTime);\n    // node.warn('confTime '+ confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":1060,"wires":[["9ba76f2a.c520b"]]},{"id":"28d765bb.6d7cea","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":980,"wires":[["9ba76f2a.c520b"]]},{"id":"9ba76f2a.c520b","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FSL_STOLENLIST\")['reportCode'] || global.get('STOLENLISTREPOCODE') || '' ;\nnode.warn(global.get(\"FSL_STOLENLIST\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":store\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1020,"wires":[["1d2b735d.99152d"]]},{"id":"1d2b735d.99152d","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1300,"y":980,"wires":[["fec9b8f0.8d05c8","cd05125e.024b6"]]},{"id":"fec9b8f0.8d05c8","type":"debug","z":"cbb860cf.4b942","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":1020,"wires":[]},{"id":"cd05125e.024b6","type":"function","z":"cbb860cf.4b942","name":"EPC Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items){\n    msg.payload = {};\n    return msg;\n}\nitems = JSON.parse(items);\nvar epcList = {};\nif(items.hasOwnProperty('results')){\n    for (var i=0; i < items.results.length; i++){\n        var epcData = items.results[i]; \n        if(!!epcData.EPC){\n            delete epcData['thing.headers'];\n            epcList[epcData.EPC] = epcData;\n            \n        }\n        \n    } \n}\nmsg.payload = epcList;\nnode.warn('Saving Stolen List');\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1060,"wires":[["5da040dd.7c47"]]},{"id":"5da040dd.7c47","type":"DataIn","z":"cbb860cf.4b942","collection":"a3c15ad4.0ef818","name":"Save Stolen","update":false,"path":"/","x":1650,"y":1060,"wires":[]},{"id":"aca5f878.551f78","type":"debug","z":"cbb860cf.4b942","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":420,"wires":[]},{"id":"5e1ded5e.d23cb4","type":"delay","z":"cbb860cf.4b942","name":"20 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":420,"wires":[["f17d5788.17e418","aca5f878.551f78"]]},{"id":"5668c54a.4ae97c","type":"subflow:6b9f134e.2de05c","z":"cbb860cf.4b942","name":"","x":1620,"y":640,"wires":[[]]},{"id":"68857ec2.78207","type":"inject","z":"cbb860cf.4b942","name":"Missing List","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":810,"y":1240,"wires":[["d85f89cd.8bfac8"]]},{"id":"d85f89cd.8bfac8","type":"function","z":"cbb860cf.4b942","name":"Check Cron","func":"var crons = global.get(\"FBL_BLACKLIST\")['crons'] || '';\nvar confTimes = crons.split(\";\");\nfor(var i = 0; i < confTimes.length; i++){\n    var confValues = confTimes[i].trim().split(\",\");\n     var zoneStoreTime = global.get('StoreConf').timeZone || \"\";\n    var timeExtracted = zoneStoreTime.split(\"GMT\");\n    if(timeExtracted.length > 1){\n        timeExtracted = parseInt(timeExtracted[1])\n    }\n    var zoneTimeSym = {\"EST\":5,\"EDT\":4,\"PST\":8,\"PDT\":7,\"CST\":6,\"CDT\":5,\"UTC\":0};\n    var confTime = confValues[0].trim().split(\":\");\n    var confHour = confTime[0];\n    var confMinutes = confTime[1]; \n    var confAMPM = confValues[1].trim();\n    var confZoneTime = confValues[2].trim();\n    var currentDate = new Date();\n    //currentDate.setHours(currentDate.getHours()-parseInt(zoneTimeSym[confZoneTime]));\n    currentDate.setHours(currentDate.getHours()+parseInt(timeExtracted));\n    if(confHour === '12' && confAMPM === 'AM'){ confHour = '00'; }\n    var currentMinutes = currentDate.getMinutes();\n    \n    if(parseInt(currentMinutes) < 10){ currentMinutes = '0'+currentMinutes; }\n    var currentHours = currentDate.getHours();\n    var currentAmPm = \"AM\";\n    \n    if(parseInt(currentDate.getHours()) >= 12){\n        currentAmPm = \"PM\";\n    }\n    \n    if(parseInt(currentDate.getHours()) > 12){\n        currentHours = parseInt(currentDate.getHours())-12;\n    }\n    var localTime = currentHours+\":\"+currentMinutes+\" \"+currentAmPm;\n    var confTime = confHour+\":\"+confMinutes+\" \"+confAMPM;\n    // node.warn('localTime ' + localTime);\n    // node.warn('confTime '+ confTime);\n    if(localTime === confTime){\n        node.warn(localTime+\" <<===>> \"+confTime);\n        return msg;        \n    }\n}\n\n","outputs":1,"noerr":0,"x":970,"y":1240,"wires":[["d1d7553d.7846e8"]]},{"id":"972df450.578838","type":"inject","z":"cbb860cf.4b942","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":1160,"wires":[["d1d7553d.7846e8"]]},{"id":"d1d7553d.7846e8","type":"function","z":"cbb860cf.4b942","name":"Report Body","func":"var reportCode = global.get(\"FML_MISSINGLIST\")['reportCode'] || global.get('MISSINGLISTREPOCODE') || '' ;\nnode.warn(global.get(\"FML_MISSINGLIST\")['reportCode']);\nvar hierarchyGroup = global.get('hierarchyGroup') || '';\nvar store = global.get('StoreID');\nmsg.payload = {\nreportId: reportCode,\nreportType: \"table\",\nreportBody: {\n    \"StoreID\":store\n},\nhierarchyGroupCode: hierarchyGroup\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1200,"wires":[["676c7243.c6747c"]]},{"id":"676c7243.c6747c","type":"subflow:4843c8c.aa62a38","z":"cbb860cf.4b942","name":"","x":1300,"y":1160,"wires":[["621a83a9.e1e49c","5cf77eb3.a6247"]]},{"id":"621a83a9.e1e49c","type":"debug","z":"cbb860cf.4b942","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":1200,"wires":[]},{"id":"5cf77eb3.a6247","type":"function","z":"cbb860cf.4b942","name":"EPC Format","func":"var items = msg.payload || '';\nif(msg.statusCode !== 200){\n    return null;\n}\nif(!items){\n    msg.payload = {};\n    return msg;\n}\nitems = JSON.parse(items);\nvar epcList = {};\nif(items.hasOwnProperty('results')){\n    for (var i=0; i < items.results.length; i++){\n        var epcData = items.results[i]; \n        if(!!epcData.EPC){\n            delete epcData['thing.headers'];\n            epcList[epcData.EPC] = epcData;\n            \n        }\n        \n    } \n}\nmsg.payload = epcList;\nnode.warn('Saving Missing List');\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1240,"wires":[["ad72a127.91141"]]},{"id":"ad72a127.91141","type":"DataIn","z":"cbb860cf.4b942","collection":"b0544c04.b25cb","name":"Save Missing","update":false,"path":"/","x":1650,"y":1240,"wires":[]},{"id":"49a15293.8a75dc","type":"function","z":"cbb860cf.4b942","name":"","func":"msg.url = \"http://reports:8080/riot-core-reports/api/reportExecution/F_LIGHTBUZZERCONFIG?pageNumber=1&pageSize=-1&reportHierarchyGroupCode=/PERN\"\nmsg. headers = {\"Content-Type\": \"application/json\",\n\"apiKey\": \"WRNXEIDYAEDQMKWQ\"}\nmsg.payload = {};\nmsg.method = \"POST\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["a0c41eca.57bf3"]]},{"id":"992288f7.c415b8","type":"vizix-server","z":"","apikey":"PVZKMAGZQO","host":"https://pe.retail.mojix.io","port":""},{"id":"76cf5a1c.83d9b4","type":"json-db-collection","z":"","name":"POS Whitelist","folder":"/flows/","collection":"POS_Whitelist","save":true},{"id":"9d41e1ec.71827","type":"json-db-collection","z":"","name":"Available List","folder":"/flows/","collection":"AVAILABLE_LIST","save":true},{"id":"2e78ea55.0889c6","type":"json-db-collection","z":"","name":"Starflex List","folder":"/flows/","collection":"SF_LIST","save":true},{"id":"722a5be.58574a4","type":"json-db-collection","z":"","name":"Black List","folder":"/flows/","collection":"BLACK_LIST","save":true},{"id":"a3c15ad4.0ef818","type":"json-db-collection","z":"","name":"Stolen List","folder":"/flows/","collection":"STOLEN_LIST","save":true},{"id":"b0544c04.b25cb","type":"json-db-collection","z":"","name":"Missing List","folder":"/flows/","collection":"MISSING_LIST","save":true}]