flow2/POE Updater.txt
[{"id":"ba2def1f.4d4a3","type":"subflow","name":"Remove EPC From Lists (2)","info":"","in":[{"x":220,"y":180,"wires":[{"id":"a10c31c9.d417c"},{"id":"9a7a7a80.fb6558"},{"id":"7b081281.81808c"},{"id":"be419c43.aa688"}]}],"out":[]},{"id":"a10c31c9.d417c","type":"DataOut","z":"ba2def1f.4d4a3","collection":"722a5be.58574a4","name":"GET BL","path":"/","error":false,"x":380,"y":140,"wires":[["b38118a6.327ee8"]]},{"id":"9a7a7a80.fb6558","type":"DataOut","z":"ba2def1f.4d4a3","collection":"a3c15ad4.0ef818","name":"Get Stolen","path":"/","error":false,"x":370,"y":220,"wires":[["e6b89a5c.7d2f88"]]},{"id":"7b081281.81808c","type":"DataOut","z":"ba2def1f.4d4a3","collection":"76cf5a1c.83d9b4","name":"GET POS-W","path":"/","error":false,"x":370,"y":300,"wires":[["48cbd83c.9c14e8"]]},{"id":"b38118a6.327ee8","type":"function","z":"ba2def1f.4d4a3","name":"","func":"var displayData = msg.payload;\nif(displayData.hasOwnProperty(msg.EPC)){\n    delete displayData[msg.EPC];\n    msg.payload = displayData;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["37237933.69b576"]]},{"id":"e6b89a5c.7d2f88","type":"function","z":"ba2def1f.4d4a3","name":"","func":"var displayData = msg.payload;\nif(displayData.hasOwnProperty(msg.EPC)){\n    delete displayData[msg.EPC];\n    msg.payload = displayData;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["8012d200.748b4"]]},{"id":"48cbd83c.9c14e8","type":"function","z":"ba2def1f.4d4a3","name":"","func":"var displayData = msg.payload;\nif(displayData.hasOwnProperty(msg.EPC)){\n    delete displayData[msg.EPC];\n    msg.payload = displayData;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["1fe75752.8d60e9"]]},{"id":"37237933.69b576","type":"DataIn","z":"ba2def1f.4d4a3","collection":"722a5be.58574a4","name":"Black List","update":false,"path":"/","x":720,"y":140,"wires":[]},{"id":"8012d200.748b4","type":"DataIn","z":"ba2def1f.4d4a3","collection":"a3c15ad4.0ef818","name":"Save Stolen","update":false,"path":"/","x":730,"y":220,"wires":[]},{"id":"1fe75752.8d60e9","type":"DataIn","z":"ba2def1f.4d4a3","collection":"76cf5a1c.83d9b4","name":"POS Whitelist","update":false,"path":"/","x":740,"y":300,"wires":[]},{"id":"be419c43.aa688","type":"DataOut","z":"ba2def1f.4d4a3","collection":"b0544c04.b25cb","name":"GET Missing","path":"/","error":false,"x":370,"y":380,"wires":[["cb8662d4.766c1"]]},{"id":"cb8662d4.766c1","type":"function","z":"ba2def1f.4d4a3","name":"","func":"var displayData = msg.payload;\n\nif(displayData.hasOwnProperty(msg.EPC)){\n    delete displayData[msg.EPC];\n    msg.payload = displayData;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["abf035bc.c3f3b8"]]},{"id":"abf035bc.c3f3b8","type":"DataIn","z":"ba2def1f.4d4a3","collection":"b0544c04.b25cb","name":"Save Missing","update":false,"path":"/","x":730,"y":380,"wires":[]},{"id":"db7a3776.3d25d8","type":"debug","z":"ba2def1f.4d4a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":480,"wires":[]},{"id":"76cf5a1c.83d9b4","type":"json-db-collection","z":"","name":"POS Whitelist","folder":"/flows/","collection":"POS_Whitelist","save":true},{"id":"b0544c04.b25cb","type":"json-db-collection","z":"","name":"Missing List","folder":"/flows/","collection":"MISSING_LIST","save":true},{"id":"977db3d0.57953","type":"json","z":"ad668d0e.08967","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["7ce6ea62.45ab04","27b6af99.33511"]]},{"id":"7ce6ea62.45ab04","type":"debug","z":"ad668d0e.08967","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":280,"wires":[]},{"id":"27b6af99.33511","type":"function","z":"ad668d0e.08967","name":"","func":"if(!msg.payload){\n    return null;\n}\n\nvar parseToBoolean = function(value) {\n    return (value === true || value === 'true');\n}\nvar commandObject = msg.payload;\nfor(var key in commandObject){\n    if(commandObject.hasOwnProperty(key)){\n        if(key ===\"serialNumber\"){\n            \n        } else {\n            if(parseToBoolean(commandObject[key])){\n                node.send({payload: key})\n            }\n        }\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["b86e0a2.a18b0f8"]]},{"id":"b86e0a2.a18b0f8","type":"switch","z":"ad668d0e.08967","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"blackList","vt":"str"},{"t":"eq","v":"cronJobs","vt":"str"},{"t":"eq","v":"lightBuzzer","vt":"str"},{"t":"eq","v":"sellableAccesible","vt":"str"},{"t":"eq","v":"todaySellableAccesible","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":680,"y":160,"wires":[["5e4ac6e5.96f4b8"],["676c2e65.d8d97"],["33570e15.b09d22"],["fc596b50.c868f8"],["15f80bb6.d61a84"]]},{"id":"5e4ac6e5.96f4b8","type":"link out","z":"ad668d0e.08967","name":"Black List updater out","links":["c752a659.f5e2e8","13b8e69d.4da359","49b999c3.9ea718"],"x":795,"y":80,"wires":[]},{"id":"676c2e65.d8d97","type":"link out","z":"ad668d0e.08967","name":"Cron Jobs updater out","links":["d453372d.8527f8","db74224.7b143e"],"x":795,"y":120,"wires":[]},{"id":"33570e15.b09d22","type":"link out","z":"ad668d0e.08967","name":"LightBuzzer updater out","links":["df07511b.5624e","f6077d64.1d018"],"x":795,"y":160,"wires":[]},{"id":"fc596b50.c868f8","type":"link out","z":"ad668d0e.08967","name":"Sellable List updater out","links":["8d6f1550.054ce8","9a2564c3.902758"],"x":795,"y":200,"wires":[]},{"id":"15f80bb6.d61a84","type":"link out","z":"ad668d0e.08967","name":"Sellable List Today updater out","links":["db612001.25ca9","8c8005c1.b7d498"],"x":795,"y":240,"wires":[]},{"id":"6dfd3109.4a4d4","type":"json","z":"ad668d0e.08967","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["970e25de.7f38c8"]]},{"id":"970e25de.7f38c8","type":"function","z":"ad668d0e.08967","name":"Update Thing","func":"if(!msg.payload){\n    return null;\n}\nvar sfData = msg.payload;\nvar sfList = {};\n\nif(sfData.hasOwnProperty(\"serial\")){\n    sfList[sfData.serial] = sfData;\n}\nmsg.payload = sfList;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["183bc9c6.7904c6","a1bf705d.73f84","9cabec4a.c1668"]]},{"id":"183bc9c6.7904c6","type":"DataIn","z":"ad668d0e.08967","collection":"2e78ea55.0889c6","name":"StarFlex Update","update":true,"path":"/","x":800,"y":380,"wires":[]},{"id":"a1bf705d.73f84","type":"debug","z":"ad668d0e.08967","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":480,"wires":[]},{"id":"9cabec4a.c1668","type":"link out","z":"ad668d0e.08967","name":"Turn Off Alarm out","links":["3c226dd8.db2612","1451fa06.d4cee6"],"x":780,"y":440,"wires":[]},{"id":"91e6035a.531dc","type":"json","z":"ad668d0e.08967","name":"","property":"payload","action":"","pretty":false,"x":390,"y":700,"wires":[["bb02c56c.e35728","c5a0d606.707828"]]},{"id":"bb02c56c.e35728","type":"function","z":"ad668d0e.08967","name":"","func":"if(!msg.payload){\n    return null;\n}\n\nvar parseToBoolean = function(value) {\n    return (value === true || value === 'true');\n}\n\nvar topic = msg.topic.split(\"/\");\nvar store = topic [topic.length - 2];\nmsg.store = store;\nif(msg.payload.Retail_Disposition){\n    msg.collection = msg.payload.Retail_Disposition;\n}\nif(msg.payload.display){\n    if(parseToBoolean(msg.payload.display)){\n        msg.collection = \"BLACKLIST\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["7db97caf.3da604","c5a0d606.707828"]]},{"id":"7db97caf.3da604","type":"switch","z":"ad668d0e.08967","name":"","property":"collection","propertyType":"msg","rules":[{"t":"eq","v":"SELLABLE_ACCESSIBLE","vt":"str"},{"t":"eq","v":"RETAIL_SOLD","vt":"str"},{"t":"eq","v":"STOLEN","vt":"str"},{"t":"eq","v":"BLACKLIST","vt":"str"},{"t":"eq","v":"MISSING","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":740,"y":640,"wires":[["bf2aa4f1.6dd798","a5527a08.bf0dc8"],[],["cbdb0529.8e89b8"],["943c2e74.7abfc"],["871218ba.15da68"]]},{"id":"c5a0d606.707828","type":"debug","z":"ad668d0e.08967","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":760,"wires":[]},{"id":"91ce2a54.1deb58","type":"inject","z":"ad668d0e.08967","name":"","topic":"/PERN/POE/ITEM/0000144/3014F7D56C2BA5800000000F","payload":"{\"Class\":\"ADIDAS\",\"Department\":\"ACESSORIOS\",\"EPC\":\"3014F7D56C2BA5800000000F\",\"Retail_Disposition\":\"RETAIL_SOLD\",\"SA_Clearance\":\"\",\"SKU\":\"930331052211\",\"id\":\"\",\"thingTypeId\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":540,"wires":[["bb02c56c.e35728"]]},{"id":"222552ed.74e3fe","type":"inject","z":"ad668d0e.08967","name":"","topic":"/PERN/POE/ITEM/0000144/3014F7D56C2BA5800000000F","payload":"{\"Class\":\"ADIDAS\",\"Department\":\"ACESSORIOS\",\"EPC\":\"3014F7D56C2BA5800000000F\",\"Retail_Disposition\":\"SELLABLE_ACCESSIBLE\",\"SA_Clearance\":\"\",\"SKU\":\"930331052211\",\"id\":\"\",\"thingTypeId\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":500,"wires":[["bb02c56c.e35728"]]},{"id":"4e4983fb.f6fbec","type":"inject","z":"ad668d0e.08967","name":"","topic":"/PERN/POE/ITEM/0000144/3014F7D56C2BA5800000000F","payload":"{\"Class\":\"ADIDAS\",\"Department\":\"ACESSORIOS\",\"EPC\":\"3014F7D56C2BA5800000000F\",\"Retail_Disposition\":\"STOLEN\",\"SA_Clearance\":\"\",\"SKU\":\"930331052211\",\"id\":\"\",\"thingTypeId\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":580,"wires":[["bb02c56c.e35728"]]},{"id":"850efdd3.3f26c","type":"mqtt in","z":"ad668d0e.08967","name":"Commands","topic":"/PERN/POE/COMMAND/#","qos":"0","broker":"7a4c2f7a.3467d","x":190,"y":220,"wires":[["977db3d0.57953"]]},{"id":"86e6569b.bbb408","type":"mqtt in","z":"ad668d0e.08967","name":"Light Buzzer Config","topic":"/PERN/POE/LIGHTBUZZERCONFIG/#","qos":"2","broker":"7a4c2f7a.3467d","x":170,"y":380,"wires":[["6dfd3109.4a4d4"]]},{"id":"415a1086.241a2","type":"mqtt in","z":"ad668d0e.08967","name":"ITEM 9999999","topic":"/PERN/POE/ITEM/9999999/#","qos":"2","broker":"7a4c2f7a.3467d","x":200,"y":700,"wires":[["91e6035a.531dc"]]},{"id":"bf2aa4f1.6dd798","type":"function","z":"ad668d0e.08967","name":"Saving Available","func":"if(!msg.payload){\n    return null;\n}\nvar availlableData = msg.payload;\nvar availableList = {};\n\nif(availlableData.hasOwnProperty(\"EPC\")){\n    availableList[availlableData.EPC] = availlableData;\n}\nmsg.payload = availableList;\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":540,"wires":[["e05cbc3c.7891f","bd3174cc.03aa78"]]},{"id":"e05cbc3c.7891f","type":"DataIn","z":"ad668d0e.08967","collection":"9d41e1ec.71827","name":"Available List ","update":true,"path":"/","x":1130,"y":540,"wires":[]},{"id":"cbdb0529.8e89b8","type":"function","z":"ad668d0e.08967","name":"Saving Stolen","func":"if(!msg.payload){\n    return null;\n}\nvar availlableData = msg.payload;\nvar availableList = {};\n\nif(availlableData.hasOwnProperty(\"EPC\")){\n    availableList[availlableData.EPC] = {\"Retail_Disposition\":msg.collection || \"\" };\n}\nmsg.payload = availableList;\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":660,"wires":[["130a7072.08aeb","bd3174cc.03aa78"]]},{"id":"130a7072.08aeb","type":"DataIn","z":"ad668d0e.08967","collection":"a3c15ad4.0ef818","name":"Stolen List ","update":true,"path":"/","x":1130,"y":660,"wires":[]},{"id":"bd3174cc.03aa78","type":"debug","z":"ad668d0e.08967","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":440,"wires":[]},{"id":"943c2e74.7abfc","type":"function","z":"ad668d0e.08967","name":"Saving BlackList","func":"if(!msg.payload){\n    return null;\n}\nvar displayData = msg.payload;\nvar displayList = {};\n\nif(displayData.hasOwnProperty(\"EPC\")){\n    displayList[displayData.EPC] = displayData;\n}\nmsg.payload = displayList;\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":700,"wires":[["4d459cc9.446004"]]},{"id":"4d459cc9.446004","type":"DataIn","z":"ad668d0e.08967","collection":"722a5be.58574a4","name":"Black List ","update":true,"path":"/","x":1120,"y":700,"wires":[]},{"id":"ec25866a.cc8b68","type":"subflow:ba2def1f.4d4a3","z":"ad668d0e.08967","name":"","x":1110,"y":580,"wires":[]},{"id":"a5527a08.bf0dc8","type":"function","z":"ad668d0e.08967","name":"","func":"if(!msg.payload){\n    return null;\n}\nvar availlableData = msg.payload;\nvar availableList = {};\n\nif(availlableData.hasOwnProperty(\"EPC\")){\n    msg.EPC = availlableData.EPC;\n    msg.payload = \"\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":890,"y":580,"wires":[["ec25866a.cc8b68"]]},{"id":"b13903f0.ec7d","type":"function","z":"ad668d0e.08967","name":"Saving Solds","func":"if(!msg.payload){\n    return null;\n}\nvar availlableData = msg.payload;\nvar availableList = {};\n\nif(availlableData.hasOwnProperty(\"EPC\")){\n    availableList[availlableData.EPC] = {\"Retail_Disposition\":msg.collection || \"\" };\n}\nmsg.payload = availableList;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":620,"wires":[["6ae500fd.b2013"]]},{"id":"6ae500fd.b2013","type":"DataIn","z":"ad668d0e.08967","collection":"76cf5a1c.83d9b4","name":"POS Whitelist","update":true,"path":"/","x":1140,"y":620,"wires":[]},{"id":"871218ba.15da68","type":"function","z":"ad668d0e.08967","name":"Saving MissingList","func":"if(!msg.payload){\n    return null;\n}\nvar displayData = msg.payload;\nvar displayList = {};\n\nif(displayData.hasOwnProperty(\"EPC\")){\n    displayList[displayData.EPC] = displayData;\n}\nmsg.payload = displayList;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":740,"wires":[["592f8f6a.58945"]]},{"id":"592f8f6a.58945","type":"DataIn","z":"ad668d0e.08967","collection":"b0544c04.b25cb","name":"Save Missing","update":true,"path":"/","x":1130,"y":740,"wires":[]},{"id":"8c5768a5.48c988","type":"mqtt in","z":"ad668d0e.08967","name":"ITEM 641","topic":"/PERN/POE/ITEM/641/#","qos":"2","broker":"7a4c2f7a.3467d","x":180,"y":640,"wires":[["91e6035a.531dc"]]},{"id":"2e78ea55.0889c6","type":"json-db-collection","z":"","name":"Starflex List","folder":"/flows/","collection":"SF_LIST","save":true},{"id":"7a4c2f7a.3467d","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"PERN012","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d41e1ec.71827","type":"json-db-collection","z":"","name":"Available List","folder":"/flows/","collection":"AVAILABLE_LIST","save":true},{"id":"a3c15ad4.0ef818","type":"json-db-collection","z":"","name":"Stolen List","folder":"/flows/","collection":"STOLEN_LIST","save":true},{"id":"722a5be.58574a4","type":"json-db-collection","z":"","name":"Black List","folder":"/flows/","collection":"BLACK_LIST","save":true}]