flow2/POS Interface.txt
[{"id":"e5b40780.dfa1a8","type":"debug","z":"4b16f58.725fc0c","name":"POS UPDATE","active":false,"console":false,"complete":"true","x":1460,"y":320,"wires":[]},{"id":"8d3142b5.b93e4","type":"switch","z":"4b16f58.725fc0c","name":"","property":"success","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":174,"wires":[["cde56185.3162b"],["87a559c7.9d4b48"]]},{"id":"e9065103.1d3a5","type":"debug","z":"4b16f58.725fc0c","name":"DEBUG","active":true,"console":false,"complete":"true","x":1214,"y":415,"wires":[]},{"id":"87a559c7.9d4b48","type":"template","z":"4b16f58.725fc0c","name":"Failure","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR","output":"str","x":850,"y":220,"wires":[[]]},{"id":"a19ee19e.da1d7","type":"function","z":"4b16f58.725fc0c","name":"","func":"/*var connectionState = flow.get('mosquitto_conection') ||  {'text': 'node-red:common.status.disconnected'};*/\nnode.warn(msg.payload);\nvar evalResponse = '';\nif(!!msg.payload){\n     evalResponse = msg.payload.toLowerCase(); \n}\nif(msg.statusCode != 200 || (evalResponse.indexOf('error') !== -1) ){\n    msg.topic = 'Failure_Events';\n    var events = {};\n    events['_'+(new Date()).getTime()] = msg.storeSave;\n    node.warn('why???');\n    msg.payload = events;\n    return [msg, null];\n}else {\n    //node.warn('all good');\n    if(msg.lastMessage){\n        //node.warn('execute pos failed');\n        return [null, {payload:''}]\n    }\n}\nreturn null;","outputs":2,"noerr":0,"x":570,"y":420,"wires":[["3afed165.247e2e"],["39893c55.36d4b4"]]},{"id":"294fca1f.bf7316","type":"inject","z":"4b16f58.725fc0c","name":"DB","topic":"Failure_Events","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":510,"y":482,"wires":[["39893c55.36d4b4"]]},{"id":"3afed165.247e2e","type":"DataIn","z":"4b16f58.725fc0c","collection":"f2643eb1.515b6","name":"POS Save Data","update":true,"path":"/","x":753,"y":413,"wires":[]},{"id":"39893c55.36d4b4","type":"DataOut","z":"4b16f58.725fc0c","collection":"f2643eb1.515b6","name":"GET POS","path":"/","error":false,"x":680,"y":480,"wires":[["ce47a20.1a48b6"]]},{"id":"ce47a20.1a48b6","type":"function","z":"4b16f58.725fc0c","name":"","func":"var publishMissing = msg.payload;\nvar bloq = [];\n\nfor (var msg in publishMissing){\n    if(publishMissing.hasOwnProperty(msg)){\n            bloq.push({payload:publishMissing[msg], storeSave: publishMissing[msg]})\n    }\n}\nmsg = {payload: {}};\nmsg.deleteDB = true;\nnode.warn(bloq);\nnode.warn(msg)\nreturn [bloq, msg];","outputs":2,"noerr":0,"x":847,"y":483,"wires":[["1b58dc2b.d311b4"],["2cb9470.4ac58ba"]]},{"id":"2cb9470.4ac58ba","type":"DataIn","z":"4b16f58.725fc0c","collection":"f2643eb1.515b6","name":"Delete","update":false,"path":"/","x":990,"y":540,"wires":[]},{"id":"1b58dc2b.d311b4","type":"delay","z":"4b16f58.725fc0c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":972,"y":399,"wires":[["ff76079d.5c9058"]]},{"id":"2a80c066.fc891","type":"delay","z":"4b16f58.725fc0c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":260,"wires":[["ff76079d.5c9058"]]},{"id":"ff76079d.5c9058","type":"half-bridge","z":"4b16f58.725fc0c","name":"","bridgeCode":"ALEB","specName":"POS_IINTERFACE","messageSize":"","longitude":"","latitude":"","altitude":"","declination":"","units":"","x":950,"y":260,"wires":[["203aa5ec.77d6fa"]]},{"id":"203aa5ec.77d6fa","type":"function","z":"4b16f58.725fc0c","name":"","func":"var thingType = global.get('thingType') || '';\nvar bridgeCode = global.get('bridgeCode')  || '';\nvar apiKey = global.get('ApiKey') || '';\nvar logicalPathCode = global.get('logicalQualifiedCode') || '';\nvar url = global.get('vizixUrl') || '';\n//msg.url=  url + \"/riot-core-services/api/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.url=  'hbridge:8080' + \"/http-bridge/thingBridge/thing?bridgeCode=\"+bridgeCode+\"&thingTypeCode=\"+thingType ;\nmsg.method = \"PUT\";\nmsg.method = \"PUT\";\nmsg.headers = {\"Content-Type\": \"application/json\", \"Api_key\": apiKey};\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":260,"wires":[["e9065103.1d3a5","b4d6500a.7cd02","8986a4ae.0b4c38"]]},{"id":"8986a4ae.0b4c38","type":"http request","z":"4b16f58.725fc0c","name":"","method":"use","ret":"txt","url":"","tls":"","x":1270,"y":240,"wires":[["e5b40780.dfa1a8","a6184e1f.a21ef"]]},{"id":"a6184e1f.a21ef","type":"link out","z":"4b16f58.725fc0c","name":"PEI POS OUT","links":["88e8534f.6473e"],"x":1284,"y":336,"wires":[]},{"id":"88e8534f.6473e","type":"link in","z":"4b16f58.725fc0c","name":"PEI POS IN","links":["a6184e1f.a21ef"],"x":438,"y":420,"wires":[["a19ee19e.da1d7"]]},{"id":"b37ff73b.6c7a68","type":"debug","z":"4b16f58.725fc0c","name":"soap post","active":false,"console":false,"complete":"true","x":500,"y":320,"wires":[]},{"id":"4a4ab0e4.6fc83","type":"link out","z":"4b16f58.725fc0c","name":"SOAP OUT","links":[],"x":735,"y":720,"wires":[]},{"id":"6ae14d28.3e0b94","type":"http response","z":"4b16f58.725fc0c","name":"","statusCode":"","headers":{},"x":750,"y":840,"wires":[]},{"id":"dfd699ff.1b1248","type":"http in","z":"4b16f58.725fc0c","name":"","url":"/services","method":"get","upload":false,"swaggerDoc":"","x":310,"y":840,"wires":[["bd290210.7fefc"]]},{"id":"bd290210.7fefc","type":"template","z":"4b16f58.725fc0c","name":"WSDL Alternative","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"urn:MVPosExtnService\" xmlns:axis2=\"urn:MVPosExtnService\" xmlns:ns1=\"http://org.apache.axis2/xsd\" xmlns:wsaw=\"http://www.w3.org/2006/05/addressing/wsdl\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:ns0=\"http://www.vizixcloud.com\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\">\n  <wsdl:types>\n    <xs:schema attributeFormDefault=\"qualified\" elementFormDefault=\"qualified\" targetNamespace=\"http://www.vizixcloud.com\" xmlns:ns=\"http://www.vizixcloud.com\">\n            <xs:element name=\"notifyHeartBeat\">\n                <xs:complexType>\n                    <xs:sequence>\n                        <xs:element minOccurs=\"0\" name=\"heartBeatXML\" nillable=\"true\" type=\"xs:string\"/>\n                    </xs:sequence>\n                </xs:complexType>\n            </xs:element>\n            <xs:element name=\"notifyHeartBeatResponse\">\n                <xs:complexType>\n                    <xs:sequence>\n                        <xs:element minOccurs=\"0\" name=\"return\" nillable=\"true\" type=\"xs:string\"/>\n                    </xs:sequence>\n                </xs:complexType>\n            </xs:element>\n            <xs:element name=\"registerPosTransaction\">\n                <xs:complexType>\n                    <xs:sequence>\n                        <xs:element minOccurs=\"0\" name=\"transactionXML\" nillable=\"true\" type=\"xs:string\"/>\n                    </xs:sequence>\n                </xs:complexType>\n            </xs:element>\n            <xs:element name=\"registerPosTransactionResponse\">\n                <xs:complexType>\n                    <xs:sequence>\n                        <xs:element minOccurs=\"0\" name=\"return\" nillable=\"true\" type=\"xs:string\"/>\n                    </xs:sequence>\n                </xs:complexType>\n            </xs:element>\n        </xs:schema>\n  </wsdl:types>\n  <wsdl:message name=\"registerPosTransactionRequest\">\n    <wsdl:part name=\"parameters\" element=\"ns0:registerPosTransaction\">\n    </wsdl:part>\n  </wsdl:message>\n  <wsdl:message name=\"registerPosTransactionResponse\">\n    <wsdl:part name=\"parameters\" element=\"ns0:registerPosTransactionResponse\">\n    </wsdl:part>\n  </wsdl:message>\n  <wsdl:message name=\"notifyHeartBeatRequest\">\n    <wsdl:part name=\"parameters\" element=\"ns0:notifyHeartBeat\">\n    </wsdl:part>\n  </wsdl:message>\n  <wsdl:message name=\"notifyHeartBeatResponse\">\n    <wsdl:part name=\"parameters\" element=\"ns0:notifyHeartBeatResponse\">\n    </wsdl:part>\n  </wsdl:message>\n  <wsdl:portType name=\"MVPosExtnServicePortType\">\n    <wsdl:operation name=\"notifyHeartBeat\">\n      <wsdl:input message=\"axis2:notifyHeartBeatRequest\" wsaw:Action=\"urn:notifyHeartBeat\">\n    </wsdl:input>\n      <wsdl:output message=\"axis2:notifyHeartBeatResponse\" wsaw:Action=\"urn:notifyHeartBeatResponse\">\n    </wsdl:output>\n    </wsdl:operation>\n    <wsdl:operation name=\"registerPosTransaction\">\n      <wsdl:input message=\"axis2:registerPosTransactionRequest\" wsaw:Action=\"urn:registerPosTransaction\">\n    </wsdl:input>\n      <wsdl:output message=\"axis2:registerPosTransactionResponse\" wsaw:Action=\"urn:registerPosTransactionResponse\">\n    </wsdl:output>\n    </wsdl:operation>\n  </wsdl:portType>\n  <wsdl:binding name=\"MVPosExtnServiceHttpBinding\" type=\"axis2:MVPosExtnServicePortType\">\n    <http:binding verb=\"POST\"/>\n    <wsdl:operation name=\"notifyHeartBeat\">\n      <http:operation location=\"MVPosExtnService/notifyHeartBeat\"/>\n      <wsdl:input>\n        <mime:content part=\"notifyHeartBeat\" type=\"text/xml\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <mime:content part=\"notifyHeartBeat\" type=\"text/xml\"/>\n      </wsdl:output>\n    </wsdl:operation>\n    <wsdl:operation name=\"registerPosTransaction\">\n      <http:operation location=\"MVPosExtnService/registerPosTransaction\"/>\n      <wsdl:input>\n        <mime:content part=\"registerPosTransaction\" type=\"text/xml\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <mime:content part=\"registerPosTransaction\" type=\"text/xml\"/>\n      </wsdl:output>\n    </wsdl:operation>\n  </wsdl:binding>\n  <wsdl:binding name=\"MVPosExtnServiceSOAP11Binding\" type=\"axis2:MVPosExtnServicePortType\">\n    <soap:binding style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n    <wsdl:operation name=\"notifyHeartBeat\">\n      <soap:operation soapAction=\"urn:notifyHeartBeat\" style=\"document\"/>\n      <wsdl:input>\n        <soap:body use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <soap:body use=\"literal\"/>\n      </wsdl:output>\n    </wsdl:operation>\n    <wsdl:operation name=\"registerPosTransaction\">\n      <soap:operation soapAction=\"urn:registerPosTransaction\" style=\"document\"/>\n      <wsdl:input>\n        <soap:body use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <soap:body use=\"literal\"/>\n      </wsdl:output>\n    </wsdl:operation>\n  </wsdl:binding>\n  <wsdl:binding name=\"MVPosExtnServiceSOAP12Binding\" type=\"axis2:MVPosExtnServicePortType\">\n    <soap12:binding style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n    <wsdl:operation name=\"notifyHeartBeat\">\n      <soap12:operation soapAction=\"urn:notifyHeartBeat\" style=\"document\"/>\n      <wsdl:input>\n        <soap12:body use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <soap12:body use=\"literal\"/>\n      </wsdl:output>\n    </wsdl:operation>\n    <wsdl:operation name=\"registerPosTransaction\">\n      <soap12:operation soapAction=\"urn:registerPosTransaction\" style=\"document\"/>\n      <wsdl:input>\n        <soap12:body use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output>\n        <soap12:body use=\"literal\"/>\n      </wsdl:output>\n    </wsdl:operation>\n  </wsdl:binding>\n  <wsdl:service name=\"MVPosExtnService\">\n    <wsdl:port name=\"MVPosExtnServiceHttpport\" binding=\"axis2:MVPosExtnServiceHttpBinding\">\n      <http:address location=\"http://pe510mcn1.retail.corp:1881/Binding/\"/>\n    </wsdl:port>\n    <wsdl:port name=\"MVPosExtnServiceSOAP11port_http\" binding=\"axis2:MVPosExtnServiceSOAP11Binding\">\n      <soap:address location=\"http://pe510mcn1.retail.corp:1881/ExtnService/\"/>\n    </wsdl:port>\n    <wsdl:port name=\"MVPosExtnServiceSOAP12port_http\" binding=\"axis2:MVPosExtnServiceSOAP12Binding\">\n      <soap12:address location=\"http://pe510mcn1.retail.corp:1881/services/\"/>\n    </wsdl:port>\n  </wsdl:service>\n</wsdl:definitions>\n","output":"str","x":558,"y":840,"wires":[["6ae14d28.3e0b94"]]},{"id":"dfb05d7a.c03f2","type":"inject","z":"4b16f58.725fc0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":311,"y":719,"wires":[["523c1a61.f8acc4"]]},{"id":"523c1a61.f8acc4","type":"function","z":"4b16f58.725fc0c","name":"XSD STRING TEST","func":"msg = {\n    'payload':{ \n            'transactionXML':'<posTransactionList storeNumber=\\\"00456\\\" posStationNumber=\\\"004560010001\\\"> \\n      \\t<posTransaction txnType=\\\"SALE\\\" txnTime=\\\"24-11-201412:12:34\\\" user=\\\"boadmin\\\">\\n\\t      \\t<epcItems>\\n\\t      \\t\\t  <epc id=\\\"30340BA8D052FB803030007A\\\" \\/>\\n\\t\\t\\t      <epc id=\\\"30304035A880C840000583A6\\\" \\/>\\n\\t\\t\\t      <epc id=\\\"30304035A880C840000583A5\\\" \\/>\\n\\t\\t\\t      <epc id=\\\"30340B9D7C3D8A0030300023\\\" \\/>\\n\\t\\t\\t      <epc id=\\\"30340BA8B44AA04030300216\\\" \\/>\\n\\t      \\t<\\/epcItems>\\n\\t      \\t<skuItems>\\n\\t\\t      \\t<sku code=\\\"2005200510123\\\" qty=\\\"1\\\" \\/>\\n\\t\\t      \\t<sku code=\\\"2005200510156\\\" qty=\\\"2\\\" \\/>\\n\\t      \\t<\\/skuItems>\\n      \\t<\\/posTransaction>\\n      \\t<posTransaction txnType=\\\"RETURN\\\" txnTime=\\\"24-11-201412:12:34\\\" user=\\\"boadmin\\\">\\n\\t      \\t<epcItems>\\n\\n\\t      \\t\\t<epc id=\\\"30304035A880C800004909A6\\\" \\/>\\n\\t      \\t\\t<epc id=\\\"30340BA8DC22DF00303000D7\\\" \\/>\\n\\t      \\t\\t<epc id=\\\"3034294430308A8341D00104\\\" \\/>\\n\\t      \\t<\\/epcItems>\\n\\t      \\t<skuItems>\\n\\t      \\t\\t<sku code=\\\"2005200510123\\\" qty=\\\"1\\\" \\/>\\n\\t      \\t<\\/skuItems>\\n      \\t<\\/posTransaction>\\n      <\\/posTransactionList>'\n        \n    }\n        \n    }\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":719,"wires":[["4a4ab0e4.6fc83"]]},{"id":"3e537368.8091dc","type":"template","z":"4b16f58.725fc0c","name":"xml format example","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<soap:Envelope xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:viz=\"http://www.vizixcloud.com\">\n   <soap:Header/>\n   <soap:Body>\n      <viz:registerPosTransaction>\n         <!--Optional:-->\n         <viz:transactionXML>\n          <posTransactionList storeNumber=\"00456\" posStationNumber=\"004560010001\"> \n      \t<posTransaction txnType=\"RETURN\" txnTime=\"24-11-201412:12:34\" user=\"boadmin\">\n\t      \t<epcItems>\n\t      \t\t  <epc id=\"30340BA8D052FB803030007A\" />\n\t\t\t      <epc id=\"30304035A880C840000583A6\" />\n\t\t\t      <epc id=\"30304035A880C840000583A5\" />\n\t\t\t      <epc id=\"30340B9D7C3D8A0030300023\" />\n\t\t\t      <epc id=\"30340BA8B44AA04030300216\" />\n\t      \t</epcItems>\n\t      \t<skuItems>\n\t\t      \t<sku code=\"2005200510123\" qty=\"1\" />\n\t\t      \t<sku code=\"2005200510156\" qty=\"2\" />\n\t      \t</skuItems>\n      \t</posTransaction>\n      \t<posTransaction txnType=\"SALE\" txnTime=\"24-11-201412:12:34\" user=\"boadmin\">\n\t      \t<epcItems>\n\n\t      \t\t<epc id=\"30304035A880C800004909A6\" />\n\t      \t\t<epc id=\"30340BA8DC22DF00303000D7\" />\n\t      \t\t<epc id=\"3034294430308A8341D00104\" />\n\t      \t</epcItems>\n\t      \t<skuItems>\n\t      \t\t<sku code=\"2005200510123\" qty=\"1\" />\n\t      \t</skuItems>\n      \t</posTransaction>\n      </posTransactionList>\n         \n         </viz:transactionXML>\n      </viz:registerPosTransaction>\n   </soap:Body>\n</soap:Envelope>","output":"str","x":530,"y":780,"wires":[[]]},{"id":"73b17840.489c88","type":"inject","z":"4b16f58.725fc0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":314,"y":780,"wires":[["3e537368.8091dc"]]},{"id":"7c2bba64.1703e4","type":"file","z":"4b16f58.725fc0c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1366,"y":378,"wires":[]},{"id":"cde56185.3162b","type":"template","z":"4b16f58.725fc0c","name":"Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SUCCESS","output":"str","x":860,"y":167,"wires":[[]]},{"id":"b4d6500a.7cd02","type":"function","z":"4b16f58.725fc0c","name":"pos-vizix","func":"var currentDate = new Date();\nvar initialTime = (currentDate.getFullYear()+'-'+(currentDate.getMonth()+1)+'-'+currentDate.getDate());\nvar filename = '/flows/logs/POS-ViZix/'+ initialTime + '.txt';\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":1236,"y":378,"wires":[["7c2bba64.1703e4"]]},{"id":"32fcbe98.6c6a92","type":"function","z":"4b16f58.725fc0c","name":"xml logs","func":"var currentDate = new Date();\nvar initialTime = (currentDate.getFullYear()+'-'+(currentDate.getMonth()+1)+'-'+currentDate.getDate());\nvar filename = '/flows/logs/POS-FLOW/'+ initialTime + '.txt';\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["6fd6bbd4.8855e4"]]},{"id":"6fd6bbd4.8855e4","type":"file","z":"4b16f58.725fc0c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":590,"y":140,"wires":[]},{"id":"a898ebeb.bce758","type":"DataIn","z":"4b16f58.725fc0c","collection":"76cf5a1c.83d9b4","name":"POS Whitelist","update":true,"path":"/","x":760,"y":300,"wires":[]},{"id":"2c4e15d6.d3feaa","type":"debug","z":"4b16f58.725fc0c","name":"POS WhiteList","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":340,"wires":[]},{"id":"730e0ff0.3e595","type":"catch","z":"4b16f58.725fc0c","name":"","scope":null,"x":340,"y":320,"wires":[["b37ff73b.6c7a68"]]},{"id":"269fc0f4.994b2","type":"comment","z":"4b16f58.725fc0c","name":"For Testing","info":"","x":500,"y":660,"wires":[]},{"id":"7d52ec52.08c024","type":"link out","z":"4b16f58.725fc0c","name":"POS Dash OUT","links":["1f69d020.7222"],"x":675,"y":380,"wires":[]},{"id":"339b76d1.79539a","type":"http in","z":"4b16f58.725fc0c","name":"","url":"/POSAle","method":"post","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["d99d7fbf.1d4ef","b50d3d04.1c348"]]},{"id":"f6ded770.37f658","type":"inject","z":"4b16f58.725fc0c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["5e118b37.4a7e84"]]},{"id":"5e118b37.4a7e84","type":"template","z":"4b16f58.725fc0c","name":"POS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ale:ECReports\n    xmlns:ale=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:ns3=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:epcglobal=\"urn:epcglobal:xsd:1\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:ale_mojix_ext=\"urn:mojix:ale:xsd:1\"\nxsi:schemaLocation=\"urn:epcglobal:ale:xsd:1 http://192.168.20.133:8080/services/ALEService/?xsd=EPCglobal-ale-1_1-ale.xsd\"\nale_mojix_ext:longitude=\"-118.443787\" ale_mojix_ext:elevation=\"442.91\" ale_mojix_ext:latitude=\"34.048085\" ale_mojix_ext:declination=\"0\"\nale_mojix_ext:units=\"feet\" date=\"2018-09-26T21:26:43.458+00:00\" specName=\"rtls_template_1\" schemaVersion=\"1.1\"\nterminationTrigger=\"urn:com.mojix.epc.triggers:duration_elapsed:rtls_template_1\" creationDate=\"2019-11-29T15:50:43.458+00:00\"\ntotalMilliseconds=\"997\" terminationCondition=\"TRIGGER\" initiationCondition=\"REQUESTED\" ALEID=\"000C29A3E15E\" >\n    <reports>\n        <report reportName=\"rtls_report_1\" ale_mojix_ext:reportID=\"2007\">\n            <group>\n                <groupList>\n                     <member ale_mojix_ext:ts=\"2019-12-31T15:50:43.458Z\" ale_mojix_ext:logicalReader=\"9999999_POS1\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303403123C445C80EE719CF1</rawHex>\n                    </member>\n                 \n                </groupList>\n                <groupCount>\n                    <count>3</count>\n                </groupCount>\n            </group>\n        </report>\n    </reports>\n</ale:ECReports> ","output":"str","x":190,"y":160,"wires":[["d99d7fbf.1d4ef"]]},{"id":"98015662.04bb48","type":"inject","z":"4b16f58.725fc0c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":220,"wires":[["9ee75cb2.50de3"]]},{"id":"9ee75cb2.50de3","type":"template","z":"4b16f58.725fc0c","name":"POS2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ale:ECReports\n    xmlns:ale=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:ns3=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:epcglobal=\"urn:epcglobal:xsd:1\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:ale_mojix_ext=\"urn:mojix:ale:xsd:1\"\nxsi:schemaLocation=\"urn:epcglobal:ale:xsd:1 http://192.168.20.133:8080/services/ALEService/?xsd=EPCglobal-ale-1_1-ale.xsd\"\nale_mojix_ext:longitude=\"-118.443787\" ale_mojix_ext:elevation=\"442.91\" ale_mojix_ext:latitude=\"34.048085\" ale_mojix_ext:declination=\"0\"\nale_mojix_ext:units=\"feet\" date=\"2018-09-26T21:26:43.458+00:00\" specName=\"rtls_template_1\" schemaVersion=\"1.1\"\nterminationTrigger=\"urn:com.mojix.epc.triggers:duration_elapsed:rtls_template_1\" creationDate=\"2018-09-26T21:26:43.458+00:00\"\ntotalMilliseconds=\"997\" terminationCondition=\"TRIGGER\" initiationCondition=\"REQUESTED\" ALEID=\"000C29A3E15E\" >\n    <reports>\n        <report reportName=\"rtls_report_1\" ale_mojix_ext:reportID=\"2007\">\n            <group>\n                <groupList>\n                     <member ale_mojix_ext:ts=\"2018-09-26T21:26:43.458Z\" ale_mojix_ext:logicalReader=\"641_POS2\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303030303030313038383838</rawHex>\n                    </member>\n                    <member ale_mojix_ext:ts=\"2018-09-26T21:26:43.458Z\" ale_mojix_ext:logicalReader=\"641_POS2\" ale_mojix_ext:posX=\"7.25\" ale_mojix_ext:posY=\"0.00\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:96.x303030303030313039383736</rawHex>\n                    </member>\n                </groupList>\n                <groupCount>\n                    <count>3</count>\n                </groupCount>\n            </group>\n        </report>\n    </reports>\n</ale:ECReports> ","output":"str","x":190,"y":220,"wires":[["d99d7fbf.1d4ef"]]},{"id":"d99d7fbf.1d4ef","type":"xml","z":"4b16f58.725fc0c","name":"","property":"payload","attr":"","chr":"","x":350,"y":200,"wires":[["fe0703aa.fb0fc","32fcbe98.6c6a92"]]},{"id":"832da9f.8981558","type":"inject","z":"4b16f58.725fc0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["234947e6.a9cad8"]]},{"id":"234947e6.a9cad8","type":"template","z":"4b16f58.725fc0c","name":"One Members","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ale:ECReports\n    xmlns:ale=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:ns3=\"urn:epcglobal:ale:xsd:1\"\n    xmlns:epcglobal=\"urn:epcglobal:xsd:1\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:ale_mojix_ext=\"urn:mojix:ale:xsd:1\"\nxsi:schemaLocation=\"urn:epcglobal:ale:xsd:1 http://192.168.20.133:8080/services/ALEService/?xsd=EPCglobal-ale-1_1-ale.xsd\"\nale_mojix_ext:longitude=\"-118.443787\" ale_mojix_ext:elevation=\"442.91\" ale_mojix_ext:latitude=\"34.048085\" ale_mojix_ext:declination=\"0\"\nale_mojix_ext:units=\"feet\" date=\"2019-04-08T14:24:43.458+00:00\" specName=\"rtls_template_1\" schemaVersion=\"1.1\"\nterminationTrigger=\"urn:com.mojix.epc.triggers:duration_elapsed:rtls_template_1\" creationDate=\"2019-04-08T14:24:43.458+00:00\"\ntotalMilliseconds=\"997\" terminationCondition=\"TRIGGER\" initiationCondition=\"REQUESTED\" ALEID=\"000C29A3E15E\" >\n    <reports>\n        <report reportName=\"rtls_report_1\" ale_mojix_ext:reportID=\"2007\">\n            <group>\n                <groupList>\n                  \n                    <member ale_mojix_ext:ts=\"2019-04-08T14:24:43.458Z\" ale_mojix_ext:logicalReader=\"999POS1\" ale_mojix_ext:posX=\"12.45\" ale_mojix_ext:posY=\"-0.01\" ale_mojix_ext:posZ=\"3.00\" ale_mojix_ext:eNode=\"NA\" >\n                        <rawHex>urn:epc:raw:64.x5555555555006555</rawHex>\n                    </member>\n                  \n                </groupList>\n                <groupCount>\n                    <count>3</count>\n                </groupCount>\n            </group>\n        </report>\n    </reports>\n</ale:ECReports> ","output":"str","x":260,"y":100,"wires":[["d99d7fbf.1d4ef"]]},{"id":"fe0703aa.fb0fc","type":"function","z":"4b16f58.725fc0c","name":"XML EPC","func":"var xmlMsg = msg.payload || \"\";\nif(!xmlMsg){\n    return null;\n}\nvar lastIndex = '';\nvar epcList = [];\nvar logicalReader = '';\nvar date = '';\nvar isoDate = '';\nvar direction = '';\nvar timeZone = \"\";\nvar timeDashboard = \"\";\nvar storeID = global.get(\"StoreID\") || \"\";\nvar storeConf = global.get(storeID) || global.get(\"StoreConf\") || \"\";\n//node.warn(\"storeConf\");\n//node.warn(storeConf);\nif(!!storeConf && !!storeConf.timeZone){\n    node.warn(storeConf.timeZone)\n    if(storeConf.timeZone.indexOf('-') != -1){\n        timeZone  = storeConf.timeZone.split('-');\n    } else {\n        timeZone  = storeConf.timeZone.split('+');\n    }\n    timeZone = timeZone[1] * 1000 * 60 * 60;\n    node.warn(timeZone);\n}\nvar findMember =  function(arrayObject){\n    var validateprop = [ 'report','group', 'groupList','member','rawHex'];\n    for (var i=0; i < arrayObject.length ; i ++){\n        for (var prop in arrayObject[i]){\n            if(lastIndex ==='member'){\n               if(prop === '$'){\n                   if(arrayObject[i][prop].hasOwnProperty('ale_mojix_ext:logicalReader')){\n                       logicalReader = arrayObject[i][prop]['ale_mojix_ext:logicalReader'];\n                   }\n                   if(arrayObject[i][prop].hasOwnProperty('ale_mojix_ext:direction')){\n                       direction = arrayObject[i][prop]['ale_mojix_ext:direction'];\n                   } else{\n                       direction = \"out\";// harcoded\n                   }\n               } \n            }\n            if (arrayObject[i].hasOwnProperty(prop) && (validateprop.indexOf(prop) != -1)){\n                lastIndex = prop;\n                findMember(arrayObject[i][prop]);\n                if(lastIndex ==='rawHex'){\n                    lastIndex = 'member';\n                    for (var j=0; j<arrayObject[i][prop].length; j++ ){\n                        var epc = (arrayObject[i][prop][j].split('.'))[1].substring(1);\n                        epcList.push({'epc':epc, 'logicalReader': logicalReader, 'timestamp':date, direction: direction, isoDate:isoDate });\n                    }\n                }\n            }\n        }\n    }\n}\n\nif (xmlMsg.hasOwnProperty('ale:ECReports')){\n    if(xmlMsg['ale:ECReports'].hasOwnProperty('$')){\n        var reportDefinition = xmlMsg['ale:ECReports']['$'];\n        //node.warn('reportDefinition');\n        //node.warn(reportDefinition);\n        if(reportDefinition.hasOwnProperty('date')){\n            date = reportDefinition.date;\n            date = (new Date(date)).getTime();\n            timeDashboard = date - timeZone;\n            isoDate = (new Date(timeDashboard)).toISOString();\n            //node.warn('report Date '+ new Date(date));\n            ///node.warn(isoDate);\n        }else{\n            date = (new Date()).getTime();\n            timeDashboard = date - timeZone;\n            isoDate = (new Date(timeDashboard)).toISOString();\n            //node.warn('report Date '+ new Date(date));\n            //node.warn(isoDate);\n        }\n    }\n    if(xmlMsg['ale:ECReports'].hasOwnProperty('reports')){\n        \n        findMember(xmlMsg['ale:ECReports'].reports);\n       // node.warn('epcs');\n       // node.warn(epcList);\n        msg.epcList = epcList;\n    }\n}\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["c25d3e3e.63cc9"]]},{"id":"c25d3e3e.63cc9","type":"function","z":"4b16f58.725fc0c","name":"SOAP POS","func":"if(!msg.epcList){\n    return null;\n}\nvar transactions = msg.epcList;\n\nvar req=[];\nvar reqBloqs=[];\nvar blockSize = 20;\nvar whiteList = {};\nvar timeZone = \"\";\nvar storeID = global.get(\"StoreID\") || \"\";\nvar storeConf = global.get(storeID) || global.get(\"StoreConf\") || \"\";\nvar logicalPathCode = global.get('logicalQualifiedCode') || '';\nnode.warn(logicalPathCode);\nvar storePath = global.get(\"StorePath\") || \"\";\nnode.warn(\"storeConf\");\nnode.warn(storeConf);\nif(!!storeConf && !!storeConf.timeZone){\n    node.warn(storeConf.timeZone)\n    if(storeConf.timeZone.indexOf('-') != -1){\n        timeZone  = storeConf.timeZone.split('-');\n    } else {\n        timeZone  = storeConf.timeZone.split('+');\n    }\n    timeZone = timeZone[1] * 1000 * 60 * 60;\n    node.warn(timeZone);\n    //return null;\n}\n\nvar generateJson = function(thing,transactionEvent,time,logicalReader,direction){\n    var timeVizix = new Date();\n    var timeMsg = (time).getTime() + timeZone;\n\n    var generatedPathCode = logicalPathCode + \"\";\n    var tempCode = logicalReader.split(\"_\");\n    // node.warn(tempCode)\n    // node.warn(tempCode.length);\n    if(tempCode.length > 1){\n        generatedPathCode = storePath + tempCode[0] + \"/\";\n    }\n\n    // node.warn('timeMsg');\n    // node.warn(timeMsg);\n    var timeDashboard = (timeVizix).getTime() - timeZone;\n    if(!!thing){\n        var updJson = { \n                \"thingTypeCode\" : \"Item\",\n                \"serialNumber\":\"\"+thing,\n                \"timestamp\":timeVizix.getTime(),\n                \"Retail_POS_Event\":timeMsg,\n                \"Retail_Disposition\" : transactionEvent,\n                \"ViZix_Rule\": \"POS_Interface\",\n                \"doorEvent\" : generatedPathCode + logicalReader +\":\"+ direction,\n                \"source\": \"FLOW_ALE\"\n        };\n        req.push(updJson);\n        if(req.length >= blockSize){\n            reqBloqs.push({ payload:req, storeSave : req});\n            req=[];\n        }\n        var dateTransaction = new Date();\n        if(transactionEvent ==='RETAIL_SOLD'){\n            whiteList[thing] = {\"transactionEvent\":transactionEvent, \"date_time\": {value: {\"ISO_String\":time.toISOString(), \"timestamp\": time.getTime(), \"vizixTime\": (new Date(timeDashboard)).toISOString()}}};\n        }\n    }\n    \n}\nvar getTransactionTime = function(transactionDate){\n        var completeDate = transactionDate.split(' ');\n        var date = (completeDate[0]).split('-');\n        var time = (completeDate[1]).split(':');\n        var dateFormat = new Date(parseInt(date[2]),(parseInt(date[1])-1),parseInt(date[0]));\n        dateFormat.setHours(time[0],time[1],time[2]); \n        return (dateFormat == 'Invalid Date') ? new Date() : dateFormat;\n}\n\nvar updateItems = function(epcList, type, transactionTime){\n    var transactionType = {'SALE': 'RETAIL_SOLD', 'RETURN': 'ACTIVE'}\n    var time = getTransactionTime(transactionTime);\n    \n    if(type !== 'SALE' && type !== 'RETURN'){\n        return null;\n    }\n    var transactionEvent = transactionType[type];\n    if(!epcList){\n        return;\n    }\n    if(epcList.hasOwnProperty('epc') || epcList.hasOwnProperty('0')){\n        //node.warn(epcList);\n        var things = [];\n        if(msg.type ==='xml'){\n            things = epcList.epc;\n        } else if(msg.type === 'string'){\n            if(epcList[0].hasOwnProperty('epc')){\n                things = epcList[0].epc;\n            }\n        }\n\n        //node.warn('things');\n        //node.warn(things);\n        if( Object.prototype.toString.call( things ) === '[object Array]' ) {\n            for(var i=0; i<things.length; i++){\n                if(things[i].hasOwnProperty('0')){\n                    generateJson(things[i]['0'],transactionEvent,time);\n                } else {\n                    generateJson(things[i],transactionEvent,time);\n                }\n                //generateJson(things[i],transactionEvent);\n            }\n        } else {\n            generateJson(things,transactionEvent,time);\n        }\n        \n    }\n}\n//node.warn('transactions');\n//node.warn(transactions);\nif(transactions.length === 0 ){\n    node.warn('No transactions');\n    msg.success = false;\n    return [msg,null];\n}\nvar posTransaction = transactions;\n\n\nif( Object.prototype.toString.call( posTransaction ) === '[object Array]' ) {\n    node.warn('transactions length ' + posTransaction.length);\n    for (var i = 0; i<posTransaction.length; i++){\n\n\n    //if(posTransaction[i].hasOwnProperty('attributes')){\n        //node.warn(posTransaction[i].attributes)\n       // if(posTransaction[i].attributes.hasOwnProperty('txnType')){\n        var time = new Date(posTransaction[i].timestamp);\n        generateJson(posTransaction[i].epc,\"RETAIL_SOLD\",time,posTransaction[i].logicalReader,posTransaction[i].direction);\n            //updateItems(posTransaction[i].epcItems,posTransaction[i].attributes.txnType,posTransaction[i].attributes.txnTime)\n       // }\n   // }\n}\n} else {\n    var time = new date(posTransaction.timestamp);\n    generateJson(posTransaction.epc,\"RETAIL_SOLD\",time,posTransaction.logicalReader,posTransaction.direction);\n    //updateItems(posTransaction.epcItems,posTransaction.attributes.txnType,posTransaction.attributes.txnTime);\n}\n\nif(req.length > 0){\n    reqBloqs.push({ payload:req,  storeSave : req});\n    req=[];\n}\n//node.warn(reqBloqs);\nif(reqBloqs.length === 0){\n    msg.success = false;\n    node.warn(\"return empty\");\n    node.warn(msg);\n    return [msg,null];\n}\nreqBloqs[reqBloqs.length -1]['lastMessage'] = true;\nnode.warn(\"POS EVENT \"+new Date());\nmsg.success = true;\n\nnode.warn(\"return somthething just like this\");\nnode.warn(msg);\nnode.warn(reqBloqs);\nnode.warn(whiteList);\nreturn [msg,reqBloqs,{payload: whiteList}];","outputs":3,"noerr":0,"x":554,"y":229,"wires":[["8d3142b5.b93e4"],["2a80c066.fc891"],["a898ebeb.bce758","2c4e15d6.d3feaa","7d52ec52.08c024"]]},{"id":"f6b8b995.ce7b78","type":"http response","z":"4b16f58.725fc0c","name":"","statusCode":"","headers":{},"x":1010,"y":200,"wires":[]},{"id":"b50d3d04.1c348","type":"debug","z":"4b16f58.725fc0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":380,"wires":[]},{"id":"f2643eb1.515b6","type":"json-db-collection","z":"","name":"POS","folder":"/flows/","collection":"POS","save":true},{"id":"76cf5a1c.83d9b4","type":"json-db-collection","z":"","name":"POS Whitelist","folder":"/flows/","collection":"POS_Whitelist","save":true}]